.subbanner_outarea
{
    border: none;
    padding: 0px;
    position: relative;
    background-image: url(http://localhost:4200/assets/images/breadcum-4.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.subbanner_outarea::before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    opacity: 0.4;
}
.middle_textarea
{
    margin: 220px 0px 0px 0px;
    position: relative;
}
.breadcum_txthdng
{
    margin: 0px;
    color: #FFF;
    padding: 0px 0px 10px 110px;
    font-size: 35px;
    font-weight: 700;
}
.breadcum_slinkarea
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.breadcum_slinkarea li
{
    list-style: none;
    color: #FFF;
    padding: 12px 0px 0px 110px;
    font-size: 17px;
}
.jbrdcum_panarea
{
    border: none;
}
.kicon_design
{
    color: #FFF;
    font-size: 15px;
    padding: 0px 15px 0px 0px;
}
.kname_textdesign
{
    color: #FFF;
    list-style: none;
    text-decoration: none;
    padding: 0px 15px 0px 0px;
    font-size: 17px;
}
.outcontact_outsection
{
    margin: 70px 0px 0px 0px;
}
.contactleft_mainoutsection
{
    background-color: #fbfbfb;
    padding: 0px 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 8%), 0 3px 6px rgb(0 0 0 / 6%);
}
.sdmu_textdesign
{
    color: #333333;
    font-size: 25px;
    margin: 0px;
    padding: 40px 0px 25px 0px;
    font-weight: 700;
}
.lform_fieldoutdesign
{
    margin: 15px 0px 0px 0px;
}
.lmat_fldareadesign
{
    width: 100%;
    cursor: pointer;
    height: 60px;
}
.jhght_section
{
    height: 100px !important;
}
.more_serviceoutarea
{
    text-align: center;
    margin: 80px 0px 30px 0px;
    position: relative;
}
.mceadbtn_txetdesign
{
    color: #121212;
    text-decoration: none;
}
.msbtn_design {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    width: 180px;
    height: 50px;
    border-radius: 9999rem;
    background: #efefef;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;

    & > span.text {
      color: #121212;
      width: 100%;
      text-align: left;
      padding-block: 12px;
      padding-left: 24px;
      z-index: 2;
      transition: all 200ms ease;
    }

    & > div.overlay {
      color: #ededed;
      width: 48px;
      height: calc(100% - 2px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 12px;
      border-radius: inherit;
      background: #242424;
      position: absolute;
      right: 1px;
      z-index: 1;
      transition: all 400ms ease;
    }

    &:is(:hover, :focus) {
      & > span.text {
        color: #ededed;
      }
      & > div.overlay {
        width: calc(100% - 2px);
        transition: width 200ms ease;
      }
    }
  }
  .contactright_mainoutsection
  {
    background-color: #fbfbfb;
    padding: 0px 25px;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 8%), 0 3px 6px rgb(0 0 0 / 6%);
    height: 494px;
  }
  .sdmu_textdesign1
  {
    color: #333333;
    font-size: 25px;
    margin: 0px;
    padding: 40px 0px 0px 0px;
    font-weight: 700;
  }
  .ihbc_otext
  {
    color: #444;
    padding: 7px 0px 20px 5px;
    font-size: 15px;
  }
  .contact_lnkareasection
  {
    background-color: #ff4f02;
    text-align: center;
    height: 40px;
    line-height: 42px;
  }
  .jall_cntcticondesign
  {
    color: #FFF;
    font-size: 18px;
  }
  .contact_rgtdscrarea
  {
    border: none;
    margin: -7px 0px 0px 0px;
  }
  .hadres_textdesign
  {
    color: #333333;
    margin: 0px;
    font-size: 17px;
    font-weight: 700;
  }
  .hadres_textdesign1
  {
    color: #444;
    margin: 0px;
    font-size: 14px;
    padding: 2px 0px 0px 0px;
  }
  .cntctgap_areastructure
  {
    margin: 0px 0px 40px 0px;
  }
  .lkwht_txt
  {
    color: #444;
    text-decoration: none;
  }
  .kftrd_iconarea
  {
    margin: 0px;
    padding: 10px 0px 85px 0px;
  }
  .kftrd_iconarea li
  {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    list-style: none;
    display: inline-block;
    background-color: #ff4f02;
    text-align: center;
    line-height: 45px;
    margin: 0px 15px 0px 0px;
  }
  .kftrd_iconarea li a
  {
     color: #FFF;
  }
  .kftrd_iconarea li i
  {
     color: #FFF;
  }
  .contacmap_outsection
  {
    margin: 50px 0px 0px 0px;
  }
  .sdmu_textdesign2
  {
    color: #333333;
    font-size: 25px;
    margin: 0px;
    padding: 20px 0px 25px 0px;
    font-weight: 700;
  }
  @media(max-width: 767px)
  {
      .middle_textarea
      {
          margin: 160px 0px 0px 0px;
      }
      .breadcum_txthdng
      {
          padding: 0px 0px 10px 20px;
          font-size: 25px;
      }
      .breadcum_slinkarea li
      {
          padding: 7px 0px 0px 20px;
      }
      .subbanner_outarea
      {
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: left top;
          height: 300px;
      }
      .cababout_outsection
      {
          margin: 40px 0px 0px 0px;
      }
      .abtfstimg_design
      {
          width: 100%;
      }
      .abtscndimg_design
      {
          width: 80%;
          right: 10%;
      }
  }