<!-- ====================================sub banner area============================ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 subbanner_outarea">
            <div class="middle_textarea">
                <h2 class="breadcum_txthdng">
                    Contact Us
                </h2>
                <ul class="breadcum_slinkarea">
                    <li>
                        <span class="jbrdcum_panarea">
                            <i class="fa-solid fa-house kicon_design"></i>
                            <a href="#" class="kname_textdesign">Home</a>
                            <i class="fa-solid fa-chevron-right kicon_design"></i>
                        </span>
                        TogetherVGo
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ====================================sub banner area============================ -->

<!-- ===================================contact us are============================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 outcontact_outsection">
             <div class="row">
                <div class="col-lg-7">
                    <div class="contactleft_mainoutsection">
                        <h1 class="sdmu_textdesign">
                            Send Message Us
                        </h1>
                      <form [formGroup]="contactUsForm">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="lform_fieldoutdesign">
                                    <mat-form-field appearance="outline" class="lmat_fldareadesign">
                                        <mat-label>Your Name</mat-label>
                                        <input matInput formControlName="name" placeholder="Your Name">
                                    </mat-form-field>
                                  <div *ngIf="contactUsForm.controls['name'].errors?.['required'] && contactUsForm.controls['name'].touched " class="text text-danger mt-1">Name required</div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="lform_fieldoutdesign">
                                    <mat-form-field appearance="outline" class="lmat_fldareadesign">
                                        <mat-label>Your Email Id</mat-label>
                                        <input matInput formControlName="email" placeholder="Email">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="lform_fieldoutdesign">
                                    <mat-form-field appearance="outline" class="lmat_fldareadesign">
                                        <mat-label>Phone</mat-label>
                                        <input matInput formControlName="phone" placeholder="Phone">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="lform_fieldoutdesign">
                                    <mat-form-field appearance="outline" class="lmat_fldareadesign">
                                        <mat-label>Subject</mat-label>
                                        <input matInput formControlName="subject" placeholder="Subject">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="lform_fieldoutdesign">
                                    <mat-form-field appearance="outline" class="lmat_fldareadesign">
                                        <mat-label>Your Message...</mat-label>
                                        <input matInput formControlName="message" placeholder="Message" class="jhght_section">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="more_serviceoutarea">
                                <button class="msbtn_design" (click)="saveContactUs()" (keyup.enter)="saveContactUs()">
                                    <span class="text">
                                        Submit
                                    </span>
                                    <div class="overlay">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right">
                                        <path d="M5 12h14" />
                                        <path d="m12 5 7 7-7 7" />
                                      </svg>
                                    </div>
                                </button>
                            </div>
                        </div>
                      </form>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="contactright_mainoutsection">
                        <h1 class="sdmu_textdesign1">
                            Quick Contact
                        </h1>
                        <p class="ihbc_otext">
                            If you have any questions simply use the following contact details.
                        </p>
                        <div class="row cntctgap_areastructure">
                            <div class="col-lg-1 col-2 contact_lnkareasection">
                                <i class="fa-solid fa-location-dot jall_cntcticondesign"></i>
                            </div>
                            <div class="col-lg-11 col-10 contact_rgtdscrarea">
                                <h2 class="hadres_textdesign">
                                    ADDRESS:
                                </h2>
                                <p class="hadres_textdesign1">
                                    Ontario, Canada
                                </p>
                            </div>
                        </div>
                        <div class="row cntctgap_areastructure">
                            <div class="col-lg-1 col-2 contact_lnkareasection">
                                <i class="fa-solid fa-envelope jall_cntcticondesign"></i>
                            </div>
                            <div class="col-lg-11 col-10 contact_rgtdscrarea">
                                <h2 class="hadres_textdesign">
                                    EMAIL:
                                </h2>
                                <p class="hadres_textdesign1">
                                    <a href="mailto:togethervgo@gmail.com" class="lkwht_txt">
                                        togethervgo&#64;gmail.com
                                    </a>
                                </p>
                            </div>
                        </div>
                        <!-- <div class="row cntctgap_areastructure">
                            <div class="col-1 contact_lnkareasection">
                                <i class="fa-solid fa-mobile-screen jall_cntcticondesign"></i>
                            </div>
                            <div class="col-11 contact_rgtdscrarea">
                                <h2 class="hadres_textdesign">
                                    PHONE
                                </h2>
                                <p class="hadres_textdesign1">
                                    <a href="tel:+91 0000000000" class="lkwht_txt">
                                        +91 0000000000
                                    </a>
                                </p>
                            </div>
                        </div> -->
                        <ul class="kftrd_iconarea">
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-whatsapp"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="rfow">
        <div class="col-lg-12 contacmap_outsection">
            <h1 class="sdmu_textdesign2">
                Our Location
            </h1>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10764218.985715505!2d-95.31539841513722!3d48.80130020460898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cce05b25f5113af%3A0x70f8425629621e09!2sOntario%2C%20Canada!5e0!3m2!1sen!2sin!4v1711969034443!5m2!1sen!2sin" width="100%" height="500px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
<!-- ===================================contact us are============================== -->
