<!-- ====================================sub banner area============================ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 subbanner_outarea">
            <div class="middle_textarea">
                <h2 class="breadcum_txthdng">
                    About TogetherVGo
                </h2>
                <ul class="breadcum_slinkarea">
                    <li>
                        <span class="jbrdcum_panarea">
                            <i class="fa-solid fa-house kicon_design"></i>
                            <a href="#" class="kname_textdesign">Home</a>
                            <i class="fa-solid fa-chevron-right kicon_design"></i>
                        </span>
                        TogetherVGo
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ====================================sub banner area============================ -->

<!-- ===================================about us area======================================= -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="cababout_outsection">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="abtleft_outsection">
                            <img src="assets/images/about1.jpg" class="abtfstimg_design">
                            <img src="assets/images/about2.jpg" class="abtscndimg_design">
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="abtrght_outsection">
                            <h1 class="wdntext_design">
                                Drive when you want, make what you need
                            </h1>
                            <h2 class="wdntext_design1">
                                What is THEREVGO CANADA?
                            </h2>
                            <p class="cstxt_textdesign">
                                Carpooling is a service that allows people to share a vehicle with
                                other passengers to reach a common destination, usually for work or school.
                                The vehicle usually belongs to one of the participants, who acts as the
                                driver and shares the available seats with other passengers.
                            </p>
                            <p class="cstxt_textdesign1">
                                Carpooling is a service that allows people to share a vehicle with
                                other passengers to reach a common destination, usually for work or school.
                                The vehicle usually belongs to one of the participants, who acts as the
                                driver and shares the available seats with other passengers.
                            </p>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="antlstmain_area">
                                    <div class="row">
                                        <div class="col-lg-2 kbox_section">
                                            <img src="assets/images/shield.gif" class="kshldtax_imgdesign">
                                        </div>
                                        <div class="col-lg-10 kboxcontent_section">
                                            <h1 class="khcng_txtdesign">
                                                SAFE GUARANTEE
                                            </h1>
                                            <p class="lkpterxt_design">
                                                Taxi safety is an important topic, especially for solo travelers.
                                                If you are using a rideshare service like Uber or Lyft.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row mt-4">
                                        <div class="col-lg-2 kbox_section">
                                            <img src="assets/images/driver.gif" class="kshldtax_imgdesign">
                                        </div>
                                        <div class="col-lg-10 kboxcontent_section">
                                            <h1 class="khcng_txtdesign">
                                                EXPERT DRIVERS
                                            </h1>
                                            <p class="lkpterxt_design">
                                                Taxi drivers usually work for a company or an agency,
                                                or they own their own vehicle and operate independently.
                                            </p>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===================================about us area======================================= -->

<!-- ===================================app promotion area================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 mainmvout_section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 dap_section">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="leftimg_jaboutarea">
                                    <img src="assets/images/mobile.png" class="dmobile_designarea">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="rgtctnt_section">
                                    <h2 class="apps_textdesign">
                                        Available Apps
                                        <span class="ms-2">
                                            <svg width="80" height="12" viewBox="0 0 80 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M0 6L74 6.00002" stroke="#5CAD2F" stroke-width="1.5"></path>
                                                <path d="M79.5 6L70.5 11.1961L70.5 0.803846L79.5 6Z" fill="#5CAD2F"></path>
                                            </svg>
                                        </span>
                                    </h2>
                                    <h6 class="dtbc_textdesign">
                                        Download the Best Car Cab
                                        <span class="cpstext_design"> 
                                         Apps
                                        </span> 
                                    </h6>
                                    <p class="sclp_textdesign">
                                        Synergistically maintain compelling content whereas 
                                        technically sound portals. Continually productize 
                                        open-source alignments and standardized markets. 
                                        Compellingly orchestrate fully tested services 
                                        via equity invested methods of empowerment 
                                        technically sound portals.
                                    </p>
                                    <div class="ktwapbtn_area">
                                        <button class="hkcvb_areasection1">
                                        <a href="#" class="lnktext_design">
                                           <div class="area_design1">
                                              <img src="assets/images/apple-store.png" class="googleplybtn_design">
                                           </div>
                                           <div class="area_design2">
                                              <h2 class="lknmcv_btngl2">
                                                 Download on the
                                              </h2>
                                              <h3 class="lknmcv_btngl1">
                                                 App Store
                                              </h3>
                                           </div>
                                        </a>
                                        </button>
                                        <button class="hkcvb_areasection2">
                                        <a href="#" class="lnktext_design">
                                           <div class="area_design1">
                                              <img src="assets/images/google-play.png" class="googleplybtn_design">
                                           </div>
                                           <div class="area_design2">
                                              <h2 class="lknmcv_btngl2">
                                                Get it on
                                              </h2>
                                              <h3 class="lknmcv_btngl1">
                                                Google Play
                                              </h3>
                                           </div>
                                        </a>
                                        </button>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ===================================app promotion area================================== -->

<!-- ===================================our mission & vision area=========================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 mviout_mainsection">
             <div class="row">
                  <div class="col-lg-6 mvileft_mainsection">
                       <img src="assets/images/mission.jpg" class="kmvimg_design">
                  </div>
                  <div class="col-lg-6 mviright_mainsection">
                       <h1 class="tmntext_design">
                          TogetherVGo Mission
                       </h1>
                       <p class="mvnp_textdesign">
                        We are TogetherVGo. The go-getters. The kind of people who are relentless about our mission to help people go anywhere and get anything and earn their way. Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning. It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get. For all the ways you want to earn. Across the entire world. In real time. At the incredible speed of now.
                        At the incredible speed of now.We are a tech company that connects the physical and digital worlds to help make movement happen at the tap of a button. Because we believe in a world where movement should be accessible. So you can move and earn safely. In a way that’s sustainable for our planet. And regardless of your gender, race, religion, abilities, or sexual orientation, we champion your right to move and earn freely and without fear. 
                       </p>
                  </div>
                  <div class="col-lg-6 mviright_mainsection">
                        <h1 class="tmntext_design">
                        TogetherVGo Vision
                        </h1>
                        <p class="mvnp_textdesign">
                        We are TogetherVGo. The go-getters. The kind of people who are relentless about our mission to help people go anywhere and get anything and earn their way. Movement is what we power. It’s our lifeblood. It runs through our veins. It’s what gets us out of bed each morning. It pushes us to constantly reimagine how we can move better. For you. For all the places you want to go. For all the things you want to get. For all the ways you want to earn. Across the entire world. In real time. At the incredible speed of now.
                        At the incredible speed of now.We are a tech company that connects the physical and digital worlds to help make movement happen at the tap of a button. Because we believe in a world where movement should be accessible. So you can move and earn safely. In a way that’s sustainable for our planet. And regardless of your gender, race, religion, abilities, or sexual orientation, we champion your right to move and earn freely and without fear. 
                        </p>
                  </div>
                  <div class="col-lg-6 mvileft_mainsection">
                    <img src="assets/images/vision.jpg" class="kmvimg_design">
                  </div>
             </div>
        </div>
    </div>
</div>
<!-- ===================================our mission & vision area=========================== -->
