<!-- ====================================sub banner area============================ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 subbanner_outarea">
            <div class="middle_textarea">
                <h2 class="breadcum_txthdng">
                    Service TogetherVGo
                </h2>
                <ul class="breadcum_slinkarea">
                    <li>
                        <span class="jbrdcum_panarea">
                            <i class="fa-solid fa-house kicon_design"></i>
                            <a href="#" class="kname_textdesign">Home</a>
                            <i class="fa-solid fa-chevron-right kicon_design"></i>
                        </span>
                        TogetherVGo
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ====================================sub banner area============================ -->

<!-- ====================================our service area=========================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 service_areaoutsection">
            <h2 class="aus_textdesign1">SERVICES</h2>
            <p class="bsfc_textdesign">
                Our Best Services For You
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 srvcy_outsection">
                         <div class="row">
                             <div class="col-lg-4" *ngFor="let item of serviceList">
                                <div class="srvcbox_outsection">
                                    <div class="srvcbox_outsection1">
                                        <img src='{{FILE_URL + "storage/" + item.image }}' class="srvc_imgdesign">
                                        <div class="circle_srvcstriucture">
                                            <img src='{{FILE_URL + "storage/" + item.icon }}' class="srvcicon_design">
                                        </div>
                                      <h1 class="oboking_icondesign">{{item.heading}}</h1>
                                      <p class="obookng_textdesign">
                                        {{item.short_description}}
                                      </p>
                                        <button class="rmebtnrebtn_design" [routerLink]="['/service-details/',item.id]">
                                            <a class="lnk_texts">
                                              Read More
                                              <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                                            </a>
                                        </button>
                                    </div>
                                </div>
                             </div>
<!--                             <div class="col-lg-4">-->
<!--                                <div class="srvcbox_outsection">-->
<!--                                    <div class="srvcbox_outsection1">-->
<!--                                        <img src="assets/images/service-2.jpg" class="srvc_imgdesign">-->
<!--                                        <div class="circle_srvcstriucture">-->
<!--                                            <img src="assets/images/frontal-taxi-cab.png" class="srvcicon_design">-->
<!--                                        </div>-->
<!--                                        <h1 class="oboking_icondesign">City Transport</h1>-->
<!--                                        <p class="obookng_textdesign">-->
<!--                                            There are many variations of passages orem psum available -->
<!--                                            but the majority have suffered alteration in some form by -->
<!--                                            injected.-->
<!--                                        </p>-->
<!--                                        <button class="rmebtnrebtn_design">-->
<!--                                            <a [routerLink]="['/service-details']" class="lnk_texts">-->
<!--                                                Read More-->
<!--                                                <i class="fa-solid fa-arrow-right-long grmicon_design"></i>-->
<!--                                            </a>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                             </div>-->
<!--                             <div class="col-lg-4">-->
<!--                                <div class="srvcbox_outsection">-->
<!--                                    <div class="srvcbox_outsection1">-->
<!--                                        <img src="assets/images/05.jpg" class="srvc_imgdesign">-->
<!--                                        <div class="circle_srvcstriucture">-->
<!--                                            <img src="assets/images/taxi.png" class="srvcicon_design">-->
<!--                                        </div>-->
<!--                                        <h1 class="oboking_icondesign">Regular Transport</h1>-->
<!--                                        <p class="obookng_textdesign">-->
<!--                                            There are many variations of passages orem psum available -->
<!--                                            but the majority have suffered alteration in some form by -->
<!--                                            injected.-->
<!--                                        </p>-->
<!--                                        <button class="rmebtnrebtn_design">-->
<!--                                            <a [routerLink]="['/service-details']" class="lnk_texts">-->
<!--                                                Read More-->
<!--                                                <i class="fa-solid fa-arrow-right-long grmicon_design"></i>-->
<!--                                            </a>-->
<!--                                        </button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                             </div>-->
                         </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================================our service area=========================== -->
