.subbanner_outarea
{
    border: none;
    padding: 0px;
    position: relative;
    background-image: url(https://i.imgur.com/ofgVEaf.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.subbanner_outarea::before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    opacity: 0.4;
}
.middle_textarea
{
    margin: 220px 0px 0px 0px;
    position: relative;
}
.breadcum_txthdng
{
    margin: 0px;
    color: #FFF;
    padding: 0px 0px 10px 110px;
    font-size: 35px;
    font-weight: 700;
}
.breadcum_slinkarea
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.breadcum_slinkarea li
{
    list-style: none;
    color: #FFF;
    padding: 12px 0px 0px 110px;
    font-size: 17px;
}
.jbrdcum_panarea
{
    border: none;
}
.kicon_design
{
    color: #FFF;
    font-size: 15px;
    padding: 0px 15px 0px 0px;
}
.kname_textdesign
{
    color: #FFF;
    list-style: none;
    text-decoration: none;
    padding: 0px 15px 0px 0px;
    font-size: 17px;
}
.service_areaoutsection
{
    margin: 70px 0px 0px 0px;
}
.aus_textdesign1
{
    text-align: center;
    color: #ff4f02;
    margin: 0px;
    font-size: 30px;
    position: relative;
    padding: 0px 0px 20px 0px;
}
.bsfc_textdesign
{
    text-align: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    position: relative;
}
.srvcy_outsection
{
    margin: 50px 0px 0px 0px;
}
.srvcbox_outsection
{
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 15px 15px;
    background: #FFF;
    position: relative;
    margin: 0px 15px 15px 15px;
    cursor: pointer;
}
.srvcbox_outsection1
{
    background: rgb(248, 248, 248);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 15px;
}
.srvc_imgdesign
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.circle_srvcstriucture
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 13%;
    background: #ff4f02;
    top: 38%;
}
.srvcicon_design
{
    text-align: center;
    width: 45px !important;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    padding: 11px 0px 0px 0px;
}
.oboking_icondesign
{
    font-size: 20px;
    margin: 0px;
    padding: 35px 0px 0px 0px;
    font-weight: 500;
    line-height: 25px;
}
.obookng_textdesign
{
    text-align: justify;
    font-size: 13px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    color: #8d8d8d;
}
.rmebtnrebtn_design
{
    border: none;
    outline: none;
    width: 180px;
    height: 55px;
    border-radius: 40px;
    background-color: #ff4f02;
    color: #FFF;
    margin: 30px 0px 0px 0px;
    font-weight: 600;
    line-height: 55px;
}
.grmicon_design
{
    font-size: 20px;
    padding: 0px 0px 0px 5px;
}
.lnk_texts
{
    color: #FFF !important;
    text-decoration: none;
}
@media(max-width: 767px)
{
    .middle_textarea
    {
        margin: 160px 0px 0px 0px;
    }
    .breadcum_txthdng
    {
        padding: 0px 0px 10px 20px;
        font-size: 25px;
    }
    .breadcum_slinkarea li
    {
        padding: 7px 0px 0px 20px;
    }
    .subbanner_outarea
    {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        height: 300px;
    }
    .service_areaoutsection
    {
        margin: 40px 0px 0px 0px;
        padding: 0px 0px 10px 0px;
    }
    .bsfc_textdesign
    {
        font-size: 20px;
    }
    .srvcy_outsection
    {
        margin: 20px 0px 0px 0px;
    }
    .srvcbox_outsection
    {
       margin: 0px 5px 15px 5px;;
    }
    .oboking_icondesign
    {
        font-size: 17px;
        padding: 45px 0px 0px 0px;
        line-height: 25px;
    }
    .circle_srvcstriucture
    {
        top: 33%;
    }
}

