<!-- ================================top header============================= -->
<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12 theader_fstoutsection">
          <div class="container olcntain_area">
             <div class="row">
                <div class="col-lg-8">
                   <div class="theaderleft_outsection">
                      <ul class="info-links">
                         <li>
                            <span>
                            <i class="fa-solid fa-phone icon"></i>
                            </span>  
                            Phone: <a href="tel:+91 0000000000">0000000000</a>
                         </li>
                         <li class="klxcve_mil">
                            <span>
                            <i class="fa-solid fa-envelope icon"></i>
                            </span> 
                            Email: <a href="mailto:therewego@gmail.com">therewego&#64;gmail.com</a>
                         </li>
                      </ul>
                   </div>
                </div>
                <div class="col-lg-4">
                   <div class="theaderright_outsection">
                      <h2 class="owues_text">FOLLOW US:</h2>
                      <ul class="topsocial_media">
                         <li>
                            <a href="https://www.facebook.com/profile.php?id=61553684706571">
                            <i class="fa-brands fa-facebook-f"></i>
                            </a>
                         </li>
                         <li>
                            <a href="https://www.instagram.com/rk.resort_1/">
                            <i class="fa-brands fa-instagram"></i>
                            </a>
                         </li>
                         <li>
                            <a href="https://twitter.com/RRessort42741">
                            <i class="fa-brands fa-x-twitter"></i>
                            </a>
                         </li>
                         <li>
                            <a href="https://www.youtube.com/channel/UCvQ4QG5JFDO4-6EIBpYcIew">
                            <i class="fa-brands fa-youtube"></i>
                            </a>
                         </li>
                         <li>
                            <a href="https://www.linkedin.com/company/101243232/admin/feed/posts/">
                            <i class="fa-brands fa-linkedin"></i>
                            </a>
                         </li>
                      </ul>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </div>
<!-- ================================top header============================= -->

<!-- ===========================navbar================================== -->
<nav class="navmenu_area">
    <div class="wrapper">
        <div class="site_logoarea">
            <a href="#">
                <img src="assets/images/logo-rentit.png" class="logo_design">
            </a>
        </div>
        <input type="radio" name="slider" id="menu-btn">
        <input type="radio" name="slider" id="close-btn">
        <ul class="nav-links">
          <label for="close-btn" class="btn close-btn"><i class="fas fa-times closebtn_design"></i></label>
          <li><a href="#">Find a ride</a></li>
          <li><a href="#">Post a trip</a></li>
          <li><a href="#">How it works</a></li>
          <li><a href="#">Contact</a></li>
            <div class="topheaderbtn_structure">
             <button class="lsgnupbtn_design">
             <a href="#">
                <i class="fa-solid fa-circle-user"></i>
                Log In
             </a>
             </button>
             <button class="lsgnupbtn_design1">
            <a href="#">
                <i class="fa-solid fa-circle-arrow-right"></i>
               Sign Up
            </a>
             </button>
            </div>   
        </ul>
       <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"></i></label>
    </div>
 </nav>
<!-- ===========================navbar================================== -->