.subbanner_outarea
{
    border: none;
    padding: 0px;
    position: relative;
    background-image: url(https://i.imgur.com/top7oaI.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.subbanner_outarea::before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    opacity: 0.4;
}
.middle_textarea
{
    margin: 220px 0px 0px 0px;
    position: relative;
}
.breadcum_txthdng
{
    margin: 0px;
    color: #FFF;
    padding: 0px 0px 10px 110px;
    font-size: 35px;
    font-weight: 700;
}
.breadcum_slinkarea
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.breadcum_slinkarea li
{
    list-style: none;
    color: #FFF;
    padding: 12px 0px 0px 110px;
    font-size: 17px;
}
.jbrdcum_panarea
{
    border: none;
}
.kicon_design
{
    color: #FFF;
    font-size: 15px;
    padding: 0px 15px 0px 0px;
}
.kname_textdesign
{
    color: #FFF;
    list-style: none;
    text-decoration: none;
    padding: 0px 15px 0px 0px;
    font-size: 17px;
}
.outtimeline_outarea
{
    margin: 70px 0px 0px 0px;
}
.tvaptext_design
{
    color: #333333;
    margin: 0px 0px 0px 0px;
    font-size: 30px;
    font-weight: 700;
}
.ocs_textdesign
{
    color: #444;
    font-size: 15px;
    text-align: justify;
    margin: 0px;
    padding: 13px 0px 0px 0px;
    font-weight: 500;
}
// =====================================timeline css==============================
@media (min-width: 1000px) {
    #timeline .demo-card:nth-child(even) .head::after, #timeline .demo-card:nth-child(odd) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    #timeline .demo-card:nth-child(even) .head::before, #timeline .demo-card:nth-child(odd) .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background-color: #bdbdbd;
      border-radius: 9px;
      box-shadow: 0px 0px 2px 8px #f7f7f7;
    }
  }
  /* Some Cool Stuff */
  .demo-card:nth-child(1) {
    order: 1;
  }

  .demo-card:nth-child(2) {
    order: 4;
  }

  .demo-card:nth-child(3) {
    order: 2;
  }

  .demo-card:nth-child(4) {
    order: 5;
  }

  .demo-card:nth-child(5) {
    order: 3;
  }

  .demo-card:nth-child(6) {
    order: 6;
  }


  #timeline {
    padding: 100px 0;
    // background: #f7f7f7;
    // border-top: 1px solid rgba(191, 191, 191, 0.4);
    // border-bottom: 1px solid rgba(191, 191, 191, 0.4);
  }
  #timeline h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 200;
    margin-bottom: 20px;
  }
  #timeline p.leader {
    text-align: center;
    max-width: 90%;
    margin: auto;
    margin-bottom: 45px;
  }
  #timeline .demo-card-wrapper {
    position: relative;
    margin: auto;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper {
      display: flex;
      flex-flow: column wrap;
      width: 1170px;
      height: 1650px;
      margin: 0 auto;
    }
  }
  #timeline .demo-card-wrapper::after {
    z-index: 1;
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid rgba(191, 191, 191, 0.4);
  }
  @media (min-width: 1000px) {
    #timeline .demo-card-wrapper::after {
      border-left: 1px solid #bdbdbd;
    }
  }
  #timeline .demo-card {
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
  }
  @media (min-width: 480px) {
    #timeline .demo-card {
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }
  @media (min-width: 720px) {
    #timeline .demo-card {
      max-width: 40%;
    }
  }
  @media (min-width: 1000px) {
    #timeline .demo-card {
      max-width: 450px;
      height: 400px;
      margin: 90px;
      margin-top: 45px;
      margin-bottom: 45px;
    }
    #timeline .demo-card:nth-child(odd) {
      margin-right: 45px;
    }
    #timeline .demo-card:nth-child(odd) .head::after {
      border-left-width: 15px;
      border-left-style: solid;
      left: 100%;
    }
    #timeline .demo-card:nth-child(odd) .head::before {
      left: 491.5px;
    }
    #timeline .demo-card:nth-child(even) {
      margin-left: 45px;
    }
    #timeline .demo-card:nth-child(even) .head::after {
      border-right-width: 15px;
      border-right-style: solid;
      right: 100%;
    }
    #timeline .demo-card:nth-child(even) .head::before {
      right: 489.5px;
    }
    #timeline .demo-card:nth-child(2) {
      margin-top: 180px;
    }
  }
  #timeline .demo-card .head {
    position: relative;
    display: flex;
    align-items: center;
    color: #fff;
    font-weight: 400;
  }
  #timeline .demo-card .head .number-box {
    display: inline;
    float: left;
    margin: 7px;
    padding: 10px;
    font-size: 14px;
    line-height: 15px;
    font-weight: 400;
    background: #a7e92f;
    letter-spacing: 1px;
    height: 32px;
  }
  #timeline .demo-card .head h2 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: inherit;
    letter-spacing: 1px;
    margin: 0;
    padding-bottom: 0px;
    line-height: 1rem;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 {
        font-size: 13px;
        line-height: normal;
    }
  }
  #timeline .demo-card .head h2 span {
    display: block;
    font-size: 0.6rem;
    margin: 0;
  }
  @media (min-width: 480px) {
    #timeline .demo-card .head h2 span {
      font-size: 0.8rem;
    }
  }
  #timeline .demo-card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
  }
  @media (min-width: 1000px) {
    #timeline .demo-card .body {
      height: 315px;
    }
  }
  #timeline .demo-card .body p {
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 15px;
    text-align: justify;
    font-weight: 500;
  }
  #timeline .demo-card .body img {
    display: block;
    width: 100%;
  }
  #timeline .demo-card--step1 {
    background-color: #242425;
  }
  #timeline .demo-card--step1 .head::after {
    border-color: #242425;
  }
  #timeline .demo-card--step2 {
    background-color: #242425;
  }
  #timeline .demo-card--step2 .head::after {
    border-color: #242425;
  }
  #timeline .demo-card--step3 {
    background-color: #242425;
  }
  #timeline .demo-card--step3 .head::after {
    border-color: #FFF;
  }
  #timeline .demo-card--step4 {
    background-color: #242425;
  }
  #timeline .demo-card--step4 .head::after {
    border-color: #242425;
  }
  #timeline .demo-card--step5 {
    background-color: #242425;
  }
  #timeline .demo-card--step5 .head::after {
    border-color: #242425;
  }
  @media(max-width: 767px)
{
    .middle_textarea
    {
        margin: 160px 0px 0px 0px;
    }
    .breadcum_txthdng
    {
        padding: 0px 0px 10px 20px;
        font-size: 25px;
    }
    .breadcum_slinkarea li
    {
        padding: 7px 0px 0px 20px;
    }
    .subbanner_outarea
    {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        height: 300px;
    }
    .cababout_outsection
    {
        margin: 40px 0px 0px 0px;
    }
    .abtfstimg_design
    {
        width: 100%;
    }
    .abtscndimg_design
    {
        width: 80%;
        right: 10%;
    }
    .outtimeline_outarea
    {
      margin: 40px 0px 0px 0px;
    }
    .tvaptext_design
    {
      font-size: 20px;
    }
    #timeline 
    {
      padding: 30px 0;
    }
    #timeline .demo-card .head h2
    {
      font-size: 14px;
    }
}
