<!-- ====================================sub banner area============================ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 subbanner_outarea">
            <div class="middle_textarea">
                <h2 class="breadcum_txthdng">
                    How It Works
                </h2>
                <ul class="breadcum_slinkarea">
                    <li>
                        <span class="jbrdcum_panarea">
                            <i class="fa-solid fa-house kicon_design"></i>
                            <a href="#" class="kname_textdesign">Home</a>
                            <i class="fa-solid fa-chevron-right kicon_design"></i>
                        </span>
                        TogetherVGo
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ====================================sub banner area============================ -->

<!-- =====================================timeline design area====================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 outtimeline_outarea">
            <h1 class="tvaptext_design">
                How to use the TogetherVGo app
            </h1>
            <p class="ocs_textdesign">
                Our core service is developing technology that connects drivers and riders on demand. Here’s how the app works, step by step:
            </p>
            <section id=timeline>
                <div class="demo-card-wrapper">

                    <div class="demo-card demo-card--step1">
                        <div class="head">
                            <div class="number-box">
                                <span>01</span>
                            </div>
                            <h2>A rider opens the app</h2>
                        </div>
                        <div class="body">
                            <p>The rider enters their destination into the “Where to?” box; reviews each ride option for vehicle size, price, and estimated dropoff time; chooses the desired option; then confirms the pickup.</p>
                            <img src="assets/images/app-process-1.jpg" alt="processimg" class="processimg_design">
                        </div>
                    </div>
            
                    <div class="demo-card demo-card--step2">
                        <div class="head">
                            <div class="number-box">
                                <span>02</span>
                            </div>
                            <h2>The rider is matched with a driver</h2>
                        </div>
                        <div class="body">
                            <p>A nearby driver sees and chooses to accept the rider’s ride request. The rider is automatically notified when the driver’s vehicle is about a minute away.</p>
                            <img src="assets/images/app-process-2.jpg" alt="processimg" class="processimg_design">
                        </div>
                    </div>
            
                    <div class="demo-card demo-card--step3">
                        <div class="head">
                            <div class="number-box">
                                <span>03</span>
                            </div>
                            <h2>The driver picks up the rider</h2>
                        </div>
                        <div class="body">
                            <p>The driver and the rider verify each other’s names and the destination. Then the driver starts the ride.</p>
                            <img src="assets/images/app-process-3.jpg" alt="processimg" class="processimg_design">
                        </div>
                    </div>
            
                    <div class="demo-card demo-card--step4">
                        <div class="head">
                            <div class="number-box">
                                <span>04</span>
                            </div>
                            <h2>The driver and rider leave ratings and reviews</h2>
                        </div>
                        <div class="body">
                            <p>The app gives the driver the option to access turn-by-turn directions.</p>
                            <img src="assets/images/app-process-4.jpg" alt="processimg" class="processimg_design">
                        </div>
                    </div>
            
                    <div class="demo-card demo-card--step5">
                        <div class="head">
                            <div class="number-box">
                                <span>05</span>
                            </div>
                            <h2>The driver and rider leave ratings and reviews</h2>
                        </div>
                        <div class="body">
                            <p>At the end of each trip, drivers and riders can rate each other from 1 to 5 stars. Riders also have the option to give the driver compliments and a tip directly in the app.</p>
                            <img src="assets/images/app-process-5.jpg" alt="processimg" class="processimg_design">
                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
<!-- =====================================timeline design area====================== -->
