.subbanner_outarea
{
    border: none;
    padding: 0px;
    position: relative;
    background-image: url(http://localhost:4200/assets/images/breadcum-5.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.subbanner_outarea::before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    opacity: 0.4;
}
.middle_textarea
{
    margin: 220px 0px 0px 0px;
    position: relative;
}
.breadcum_txthdng
{
    margin: 0px;
    color: #FFF;
    padding: 0px 0px 10px 110px;
    font-size: 35px;
    font-weight: 700;
}
.breadcum_slinkarea
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.breadcum_slinkarea li
{
    list-style: none;
    color: #FFF;
    padding: 12px 0px 0px 110px;
    font-size: 17px;
}
.jbrdcum_panarea
{
    border: none;
}
.kicon_design
{
    color: #FFF;
    font-size: 15px;
    padding: 0px 15px 0px 0px;
}
.kname_textdesign
{
    color: #FFF;
    list-style: none;
    text-decoration: none;
    padding: 0px 15px 0px 0px;
    font-size: 17px;
}
.ourcity_outsectionx
{
    margin: 70px 0px 0px 0px;
}
.ctesx_textdesign
{
    text-align: center;
    margin: 0px;
    font-size: 30px;
    position: relative;
    color: #000000;
    font-weight: 700;
}
.scity_outarea
{
    margin: 40px 0px 0px 0px;
    overflow: hidden;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    background-color: #FFF;
    padding: 15px 15px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.scity_outarea1
{
    background: rgb(248, 248, 248);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    border-radius: 10px;
}
.ctsimgx_design
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.jblack_bcnkgrndarea
{
    background-color: #242526;
    position: absolute;
    bottom: 10.7%;
    border-radius: 0px 0px 10px 10px;
    width: 80%;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 75% 0, 95% 100%, 0 100%);
}
.kwalotext_design
{
    color: #FFF;
    font-size: 18px;
    margin: 0px;
    padding: 10px 0px 10px 15px;
}
@media(max-width: 767px)
{
    .middle_textarea
    {
        margin: 160px 0px 0px 0px;
    }
    .breadcum_txthdng
    {
        padding: 0px 0px 10px 20px;
        font-size: 25px;
    }
    .breadcum_slinkarea li
    {
        padding: 7px 0px 0px 20px;
    }
    .subbanner_outarea
    {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        height: 300px;
    }
    .cababout_outsection
    {
        margin: 40px 0px 0px 0px;
    }
    .abtfstimg_design
    {
        width: 100%;
    }
    .abtscndimg_design
    {
        width: 80%;
        right: 10%;
    }
    .scity_outarea
    {
        padding: 7px 7px;
        border-radius: 7px;
    }
    .scity_outarea1
    {
        padding: 7px 7px;
        border-radius: 7px;
    }
    .kwalotext_design
    {
        padding: 3px 0px 3px 15px;
        font-size: 12px;
    }
    .jblack_bcnkgrndarea
    {
        bottom: 12%;
    }
}