<!-- ====================================sub banner area============================ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 subbanner_outarea">
            <div class="middle_textarea">
                <h2 class="breadcum_txthdng">
                    Cities
                </h2>
                <ul class="breadcum_slinkarea">
                    <li>
                        <span class="jbrdcum_panarea">
                            <i class="fa-solid fa-house kicon_design"></i>
                            <a href="#" class="kname_textdesign">Home</a>
                            <i class="fa-solid fa-chevron-right kicon_design"></i>
                        </span>
                        TogetherVGo
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ====================================sub banner area============================ -->

<!-- ====================================cities area================================ -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ourcity_outsectionx">
                <h1 class="ctesx_textdesign">
                    Cities
                </h1>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-1.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Toronto
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-2.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Ottawa
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-3.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Mississauga
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-4.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Brampton
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-5.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Hamilton
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-6.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    London
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-7.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Markham
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-8.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Vaughan
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src="assets/images/cities-9.jpg" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    Kitchener
                                  </h1>
                              </div>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================================cities area================================ -->
