<!-- ====================================sub banner area============================ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 subbanner_outarea">
            <div class="middle_textarea">
                <h2 class="breadcum_txthdng">
                    Cities
                </h2>
                <ul class="breadcum_slinkarea">
                    <li>
                        <span class="jbrdcum_panarea">
                            <i class="fa-solid fa-house kicon_design"></i>
                            <a href="#" class="kname_textdesign">Home</a>
                            <i class="fa-solid fa-chevron-right kicon_design"></i>
                        </span>
                        TogetherVGo
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ====================================sub banner area============================ -->

<!-- ====================================cities area================================ -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="ourcity_outsectionx">
                <h1 class="ctesx_textdesign">
                    Cities
                </h1>
                <div class="row">
                    <div class="col-lg-4 col-6" *ngFor="let item of cityList">
                        <div class="scity_outarea">
                            <div class="scity_outarea1">
                              <img src='{{FILE_URL + "storage/" + item.image }}' onerror="this.src='assets/images/error.jpg'" loading="lazy" class="ctsimgx_design">
                              <div class="jblack_bcnkgrndarea">
                                  <h1 class="kwalotext_design">
                                    {{item.name}}
                                  </h1>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================================cities area================================ -->
