<!-- =====================================login area=================================== -->
<div class="outside_arealogin">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 user_loginbackarea">
                <video loop="true" autoplay="autoplay" muted="">
                    <source src="assets/videos/login-video.mp4" type="video/mp4">
                </video>
                <div class="blck_areabacks"></div>
                <div class="row">
                    <div class="col-lg-4 offset-lg-4 loginbix_outaerea">
                        <img src="assets/images/site-logo.png" class="sdlogo_design">
                        <h1 class="ltra_textdesign">
                            LOGIN TO YOUR ACCOUNT
                        </h1>
                        <div class="separator"></div>
                        <form class="rmt_section">
                            <div class="input-field">
                                <input class="animate_fieldtext" type="text" id="uname" required />
                                <label for="uname" class="animate_ltextdesign">User name*</label>
                            </div>
                            <div class="input-field">
                                <input class="animate_fieldtext" type="text" id="upswrd" required />
                                <label for="upswrd" class="animate_ltextdesign">Password*</label>
                            </div>
                            <div class="d-flex justify-content-between rpswrd_area">
                                <div class="rembe_outarea">
                                    <label class="remtext_fdesign">
                                        <input type="checkbox" name="remember" class="chckbox_kbdesign"> Remember me
                                    </label>
                                </div>
                                <div class="rembe_outarea1">
                                    <a href="#" class="foswrd_textdesign">
                                        Forgot Password?
                                    </a>
                                </div>
                            </div>
                            <div class="lform_areabtn">
                                <div class="buttons">
                                    <button class="blob-btn">
                                      Log In
                                      <span class="blob-btn__inner">
                                        <span class="blob-btn__blobs">
                                          <span class="blob-btn__blob"></span>
                                          <span class="blob-btn__blob"></span>
                                          <span class="blob-btn__blob"></span>
                                          <span class="blob-btn__blob"></span>
                                        </span>
                                      </span>
                                    </button>
                                    <br/>
                                  
                                  <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                    <defs>
                                      <filter id="goo">
                                        <feGaussianBlur in="SourceGraphic" result="blur" stdDeviation="10"></feGaussianBlur>
                                        <feColorMatrix in="blur" mode="matrix" values="1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 21 -7" result="goo"></feColorMatrix>
                                        <feBlend in2="goo" in="SourceGraphic" result="mix"></feBlend>
                                      </filter>
                                    </defs>
                                  </svg>
                                  </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =====================================login area=================================== -->