.subbanner_outarea
{
    border: none;
    padding: 0px;
    position: relative;
    background-image: url(https://i.imgur.com/ofgVEaf.jpg);
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}
.subbanner_outarea::before
{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.43);
    opacity: 0.4;
}
.middle_textarea
{
    margin: 220px 0px 0px 0px;
    position: relative;
}
.breadcum_txthdng
{
    margin: 0px;
    color: #FFF;
    padding: 0px 0px 10px 110px;
    font-size: 35px;
    font-weight: 700;
}
.breadcum_slinkarea
{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.breadcum_slinkarea li
{
    list-style: none;
    color: #FFF;
    padding: 12px 0px 0px 110px;
    font-size: 17px;
}
.jbrdcum_panarea
{
    border: none;
}
.kicon_design
{
    color: #FFF;
    font-size: 15px;
    padding: 0px 15px 0px 0px;
}
.kname_textdesign
{
    color: #FFF;
    list-style: none;
    text-decoration: none;
    padding: 0px 15px 0px 0px;
    font-size: 17px;
}
.service_detailsoutarea
{
    margin-top: 70px;
    border-radius: 10px;
}
.jdtls_srvcimgdesign
{
    width: 100%;
    border-radius: 10px;
}
.obkng_textdesign
{
    color: #ff4f02;
    margin: 0px;
    font-size: 35px;
    padding: 25px 0px 20px 0px;
    font-weight: 700;
}
.waptext_design
{
    color: #444;
    font-size: 15px;
    text-align: justify;
    padding: 0px 25px 0px 0px;
    line-height: 27px;
}
.service_focusmainarea
{
    background-color: #1b1b1c;
    margin: 50px 0px 0px 0px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    padding: 15px 15px;
    border-radius: 10px;
    position: relative;
}
.service_focusmainarea1
{
    background-color: #242425;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    border-radius: 10px;
    height: 250px;
    max-height: 300px;
}
.threepse_iconarea
{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    text-align: center;
    background: #a7e92f;
    padding: 10px 5px 5px 5px;
}
.threepse_icondesign
{
    width: 40px;
}
.pse_textdesign
{
    color: #FFF;
    padding: 10px 0px 0px 5px;
    margin: 0px;
    font-size: 22px;
    font-weight: 600;
}
.threep_textdesign
{
    color: #FFF;
    font-size: 13px;
    text-align: justify;
    padding: 10px 5px 0px 5px;
    line-height: 22px;
}
@media(max-width: 767px)
{
    .middle_textarea
    {
        margin: 160px 0px 0px 0px;
    }
    .breadcum_txthdng
    {
        padding: 0px 0px 10px 20px;
        font-size: 25px;
    }
    .breadcum_slinkarea li
    {
        padding: 7px 0px 0px 20px;
    }
    .subbanner_outarea
    {
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: left top;
        height: 300px;
    }
    .cababout_outsection
    {
        margin: 40px 0px 0px 0px;
    }
    .abtfstimg_design
    {
        width: 100%;
    }
    .abtscndimg_design
    {
        width: 80%;
        right: 10%;
    }
    .obkng_textdesign
    {
        font-size: 20px;
        padding: 13px 0px 15px 0px;
        line-height: 25px;
    }
    .waptext_design
    {
        font-size: 12px;
        line-height: 20px;
    }
}
