<!-- ====================================sub banner area============================ -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 subbanner_outarea">
            <div class="middle_textarea">
                <h2 class="breadcum_txthdng">
                    Service TogetherVGo
                </h2>
                <ul class="breadcum_slinkarea">
                    <li>
                        <span class="jbrdcum_panarea">
                            <i class="fa-solid fa-house kicon_design"></i>
                            <a href="#" class="kname_textdesign">Home</a>
                            <i class="fa-solid fa-chevron-right kicon_design"></i>
                        </span>
                        TogetherVGo
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- ====================================sub banner area============================ -->

<!-- ====================================service details area======================= -->
<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 service_detailsoutarea">
            <img src='{{FILE_URL + "storage/" + serviceDetails.image }}' onerror="this.src='assets/images/error.jpg'" class="jdtls_srvcimgdesign">
            <h1 class="obkng_textdesign">{{serviceDetails.heading}}</h1>
            <p class="waptext_design">
<!--                Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et.-->
              {{serviceDetails.short_description}}
            </p>
            <p class="waptext_design">
<!--                But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example.-->
              {{serviceDetails.description}}
            </p>
            <div class="row">
                <div class="col-lg-4">
                    <div class="service_focusmainarea">
                        <div class="service_focusmainarea1">
                            <div class="threepse_iconarea">
                                <img src="assets/images/mountain.png" class="threepse_icondesign">
                            </div>
                            <h1 class="pse_textdesign">
                                Purpose
                            </h1>
                            <p class="threep_textdesign">
                                To be 100% committed to our vision and mission. We earn money through promoting fair trade principles. We run sustainable non-profit programs.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_focusmainarea">
                        <div class="service_focusmainarea1">
                            <div class="threepse_iconarea">
                                <img src="assets/images/speedometer.png" class="threepse_icondesign">
                            </div>
                            <h1 class="pse_textdesign">
                                Performance
                            </h1>
                            <p class="threep_textdesign">
                                To be professional, effective and initiative-taking. Achieve more and more with optimal costs. To be lean and nimble.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="service_focusmainarea">
                        <div class="service_focusmainarea1">
                            <div class="threepse_iconarea">
                                <img src="assets/images/people.png" class="threepse_icondesign">
                            </div>
                            <h1 class="pse_textdesign">
                                People
                            </h1>
                            <p class="threep_textdesign">
                                To be user-centric, improve loyalty, safety, and emotional connection with our brand. Relentlessly develop the team and hire the best people.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ====================================service details area======================= -->
