.carpool_bannerarea
{
    padding: 0px;
    position: relative;
}
.carpool_bannerarea::before
{
    content: '';
    width: 100%;
    height: 99%;
    background: rgb(0 0 0 / 35%);
    position: absolute;
}
.capoolvideo_design
{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.banner_fusection
{
    position: absolute;
    content: "";
    top: 20%;
    left: 0px;
    padding: 0px 0px 0px 0px;
}
.leftbkfrm_outarea
{
    border: none;
}
.rightbkfrm_outarea
{
    border: none;
}
.dcharacterimg_design
{
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    top: 0px;
    position: relative;
}
.cftp_textdesign
{
    font-size: 44px;
    font-family: "Concert One", sans-serif;
    padding: 70px 0px 0px 0px;
    color: #FFF;
    margin: 0px;
}
.cftp_textdesign1
{
    font-size: 22px;
    padding: 15px 0px 0px 0px;
    color: #FFF;
    max-width: 440px;
    line-height: 30px;
}
.fsutext_design
{
    font-family: "Caveat", cursive;
    font-size: 27px;
    padding: 0px 0px 0px 0px;
    color: #FFF;
}
.booking_area
{
    margin: 20px 0px 0px 0px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 20px  20px;
    background: #FFF;
}
.booking_area1
{
    background: rgb(248, 248, 248);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 15px;
}
.nratext_design
{
    font-family: "Concert One", sans-serif;
    margin: 0px;
    font-size: 30px;
}
.fran_textdesign
{
    font-size: 17px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}
.formx_outsection
{
    margin: 15px 0px 0px 0px;
    position: relative;
}
.ftinputtext_design
{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    background-color: #ececec;
    border: none;
    outline: none;
    padding: 0px 0px 0px 35px;
    font-size: 14px;
    cursor: pointer;
}
.ftinlocation_icondesign
{
    position: absolute;
    top: 18px;
    left: 12px;
}
.odte_outsectionx
{
    margin: 20px 0px 0px 0px;
}
.ftinputtext_design1
{
    width: 100%;
    height: 55px;
    border-radius: 5px;
    background-color: #ececec;
    border: none;
    outline: none;
    padding: 0px 20px 0px 20px;
    font-size: 14px;
    cursor: pointer;
}
.fndbtn_area
{
    margin: 20px 0px 0px 0px;
}
.fndsars_btndesign
{
    background-color: #ff4f02;
    width: 190px;
    border-radius: 50px;
    height: 60px;
    line-height: 60px;
    color: #FFF;
    font-size: 18px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.jabout_twegooutsection
{
    margin: 70px 0px 0px 0px;
}
.leftabout_outsection
{
    border: none;
    padding: 30px 0px 0px 0px;
}
.aus_textdesign
{
    color: #ff4f02;
    margin: 0px;
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    position: relative;
}
.aus_textdesign::before
{
    content: "";
    position: absolute;
    height: 10px;
    width: 24%;
    background: #ff4f02;
    opacity: 0.2;
    left: -3px;
    bottom: 0;
}
.wped_textdesign
{
    font-size: 33px;
    margin: 0px;
    font-weight: 600;
    padding: 15px 0px 0px 0px;
}
.bces_text
{
    color: #ff4f02;
    font-size: 40px;
}
.tmpr_txtdesign
{
    text-align: justify;
    font-size: 14px;
    margin: 0px;
    padding: 15px 0px 0px 0px;
    color: #444;
    font-weight: 400;
}
.abty_listoutsection
{
  margin: 0px;
  padding: 0px;
}
.abty_listoutsection li 
{
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    padding: 20px 0px 0px 0px;
}
.abty_listoutsection i 
{
   color: #ff4f02;
}
.abty_listoutsection span {
    color: #000;
    font-size: 15px;
    padding: 0px 0px 0px 10px;
    line-height: 20px;
    font-weight: 600;
    text-align: justify;
}
.rightabout_imgoutsection
{
    border: none;
    padding: 50px 0px 0px 0px;
}
.jzximgz_design
{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.drembtn_design
{
    border: none;
    outline: none;
    width: 180px;
    height: 55px;
    border-radius: 40px;
    background-color: #ff4f02;
    color: #FFF;
    margin: 30px 0px 0px 0px;
    font-weight: 600;
    line-height: 55px;
}
.dremicn_design
{
   font-size: 20px;
   padding: 0px 0px 0px 5px;
}
.jcrclimg_design
{
    position: absolute;
    left: 0px;
    top: 0px;
}
.osrvc_outsection
{
    margin: 70px 0px 0px 0px;
    padding: 40px 0px 40px 0px;
    background-image: url('http://localhost:4200/assets/images/bg-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.aus_textdesign1
{
    text-align: center;
    color: #ff4f02;
    margin: 0px;
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    position: relative;
}
.aus_textdesign1::before
{
    content: "";
    position: absolute;
    height: 10px;
    width: 9%;
    background: #ff4f02;
    opacity: 0.2;
    left: 45.5%;
    bottom: 0;
}
.bsfc_textdesign
{
    text-align: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
}
.srvcy_outsection
{
    margin: 50px 0px 0px 0px;
}
.srvcbox_outsection
{
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 15px 15px;
    background: #FFF;
    position: relative;
    margin: 0px 15px 15px 15px;
}
.srvcbox_outsection1
{
    background: rgb(248, 248, 248);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 15px;
}
.srvc_imgdesign
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.circle_srvcstriucture
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 13%;
    background: #ff4f02;
    top: 38%;
}
.srvcicon_design
{
    text-align: center;
    width: 45px !important;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    padding: 11px 0px 0px 0px;
}
.oboking_icondesign
{
    font-size: 23px;
    margin: 0px;
    padding: 20px 0px 0px 0px;
}
.obookng_textdesign
{
    text-align: justify;
    font-size: 15px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    color: #8d8d8d;
}
.rmebtnrebtn_design
{
    border: none;
    outline: none;
    width: 180px;
    height: 55px;
    border-radius: 40px;
    background-color: #ff4f02;
    color: #FFF;
    margin: 30px 0px 0px 0px;
    font-weight: 600;
    line-height: 55px;
}
.grmicon_design
{
    font-size: 20px;
    padding: 0px 0px 0px 5px;
}
.hwitwrks_outsection
{
    margin: 70px 0px 0px 0px;
}
.dsemtext_design
{
    text-align: center;
    color: #ff4f02;
    margin: 0px;
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    position: relative;
}
.dsemtext_design::before
{
    content: "";
    position: absolute;
    height: 10px;
    width: 26%;
    background: #ff4f02;
    opacity: 0.2;
    left: 37%;
    bottom: 0;
}
.cityname_area
{
    margin: 120px 0px 0px 0px;
}
.ctyname_textdesign
{
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    text-align: center;
    margin: 0px;
}
.animated_cabarea
{
    margin-top: 30px;
}
.ifrmcar_design
{
    width: 100%;
    height: 100%;
}
.trustsafety_outarea
{
    margin: 70px 0px 0px 0px;
    padding: 70px 0px 40px 0px;
    background-image: url('http://localhost:4200/assets/images/07.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.trustsafety_outarea::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgb(0 0 0 / 57%);
}
.trustsafety_outarea::after
{
    content: "";
    position: absolute;
    background-image: url("http://localhost:4200/assets/images/shape-2.png");
    background-repeat: repeat-x;
    width: 500%;
    height: 50px;
    bottom: -10px;
    left: 0;
    animation: slide 100s linear infinite;
}
@keyframes slide {
    100% 
    {
        transform: translateX(-3400px)
    }
}
.srevat_textdesign
{
    text-align: center;
    color: #ff4f02;
    margin: 0px;
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    position: relative;
}
.srevat_textdesign::before
{
    content: "";
    position: absolute;
    height: 10px;
    width: 18%;
    background: #ff4f02;
    opacity: 0.2;
    left: 41%;
    bottom: 0;
}
.obsxz_text
{
    text-align: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 25px;
    font-weight: 600;
    color: #FFF;
}
.kzarea
{
    z-index: 1;
    position: relative;
}
.fsttrt_areabox
{
    margin: 70px 0px 70px 0px;
    border-radius: 10px;
    background-color: #FFF;
    padding: 20px 15px;
    cursor: pointer;
}
.feature_icons
{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin: 0 auto 20px;
    border: 5px solid #111111;
    background: #ffb300;
    text-align: center;
}
.feature_icons img
{
    width: 60px;
    padding: 15px 0px 0px 0px;;
}
.stgre_text
{
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    color: #000;
}
.stgrep_text
{
    color: #444;
    font-size: 13px;
    text-align: justify;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
.sdc_outarea
{
    border-radius: 7px;
    margin-top: 60px;
    background: rgb(188, 244, 174);
    background: linear-gradient(340deg, rgb(188, 244, 174) 12%, rgb(223, 255, 218) 100%);
}
.trcal_trreedesign
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 100%;
    height: 300px;
}
.cotwo_numbertext
{
    font-family: "Concert One", sans-serif;
    text-align: center;
    font-size: 30px;
    color: #000;
    letter-spacing: 1px;
}
.cotwonumber_boldtext
{
    font-family: "Concert One", sans-serif;
    font-weight: 800;
    font-size: 45px;    
}
.rmrebtn_design
{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 30px;
    width: 170px;
    height: 60px;
    background-color: #ff4f02;
    border-radius: 7px;
    border: none;
    outline: none;
    margin-bottom: 30px;
    color: #FFF;
    font-size: 20px;
}
.gallery_loutsectionarea
{
    margin: 70px 0px 0px 0px;
    position: relative;
}
.designgap_areasection
{
    overflow: hidden;
}
.hsrvc_trghtoutsection
{
    position: absolute;
    right: -10%;
    top: 5%;
    z-index: -1;
}
.ogerytext_design
{
    text-align: center;
    color: #ff4f02;
    margin: 0px;
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    position: relative;
}
.ogerytext_design::before
{
    content: "";
    position: absolute;
    height: 10px;
    width: 28%;
    background: #ff4f02;
    opacity: 0.2;
    left: 36%;
    bottom: 0;
}
.jgallery_outsection
{
    margin: 60px 0px 0px 0px;
    border-radius: 10px;
    height: 500px;
}
.jgalleryimg_design
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.jgallery_rightoutsection
{
    margin: 60px 0px 0px 0px;
}
.jgallery_kirghtoutsection
{
    border-radius: 10px;
    height: 240px;
}
.jgalleryimg_designvb
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.jgalleryimg_hdesign1
{
    width: 100%;
    height: 240px;
    border-radius: 10px;
}
.dfjdwn_area
{
    margin: 20px 0px 0px 0px;
}
.jgallery_kirghtoutsection2
{
    border-radius: 10px;
    height: 240px;
}
.testimnalout_area
{
    margin: 70px 0px 0px 0px;
    padding: 70px 0px 40px 0px;
    background-image: url('http://localhost:4200/assets/images/testimonial-bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow: hidden;
}
.testimnalout_area::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: rgb(0 0 0 / 57%);
}
.srevatast_textdesign
{
    text-align: center;
    color: #ff4f02;
    margin: 0px;
    font-family: "Concert One", sans-serif;
    font-size: 30px;
    position: relative;
}
.srevatast_textdesign::before
{
    content: "";
    position: absolute;
    height: 10px;
    width: 14.3%;
    background: #ff4f02;
    opacity: 0.2;
    left: 43%;
    bottom: 0;
}
.obsxz_textjc
{
    text-align: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
}
.ksyx_text
{
    color: #ff4f02;
}
.userreview_mainoutsection
{
    margin: 70px 0px 0px 0px;
}
.usrrvwbox_outsection
{
    background-color:  #FFF;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 10px 10px;
}