.carpool_bannerarea
{
    padding: 0px;
    position: relative;
    background-image: url('https://i.imgur.com/rhUwkXb.jpg');
    background-position: center right;
    background-repeat: no-repeat;
    background-size: cover;
}
.carpool_bannerarea::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 43%);
    opacity: 0.4;
}
.leftmobileapp_area
{
    padding: 190px 0px 50px 0px;
    position: relative;
}
.mobileapp_design
{
    width: 66%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rightbanner_area
{
    padding: 190px 0px 50px 0px;
    position: relative;
}
.brdf_area
{
    width: 210px;
    height: 40px;
    border-radius: 50px;
    background-color: #F3FDF8;
    padding: 6px 0px 0px 0px;
    margin: 70px 0px 0px 0px;
    position: relative;
}
.pulsating-circle {
    position: absolute;
    left: 12%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 15px;
    height: 15px;
  }
  .pulsating-circle:before {
    content: "";
    position: relative;
    display: block;
    width: 300%;
    height: 300%;
    box-sizing: border-box;
    margin-left: -100%;
    margin-top: -100%;
    border-radius: 45px;
    background-color: #319A64;
    -webkit-animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
    animation: pulse-ring 1.25s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
  }
  .pulsating-circle:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #319A64;
    border-radius: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
    animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite;
  }

  @-webkit-keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }

  @keyframes pulse-ring {
    0% {
      transform: scale(0.33);
    }
    80%, 100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
  @keyframes pulse-dot {
    0% {
      transform: scale(0.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
.brd_stextdesign
{
    color: #0a4624;
    text-align: center;
    font-size: 14px;
    padding: 0px 0px 0px 30px;
    margin: 0px;
}
.trghtbanner_textdesign
{
    text-align: left;
    color: #FFF;
    font-size: 48px;
    margin: 0px;
    padding: 40px 0px 0px 0px;
    width: 600px;
    line-height: 52px;
    font-weight: 700;
}
.thtbanner_describetext
{
    text-align: left;
    color: #FFF;
    font-size: 20px;
    padding: 25px 0px 20px 0px;
    width: 500px;
    line-height: 27px;
    font-weight: 400;
}
.gapstrebtn_area
{
    border: none;
}
.hkcvb_areasection1
{
    border: none;
    outline: none;
    margin: 0px 15px 0px 0px;
    width: 180px;
    height: 62px;
    border-radius: 7px;
    animation: shadow-pulse 1.5s infinite;
    background: #000;
}
.lnktext_design
{
  text-decoration: none;
}
.area_design1
{
    width: 30%;
    float: left;
    text-align: center;
    padding: 8px 0px 0px 0px;
}
.googleplybtn_design
{
    width: 30px;
}
.area_design2
{
    width: 68%;
    float: left;
}
.lknmcv_btngl2
{
    font-size: 12px;
    color: #FFF;
    text-align: left;
    padding: 0px 0px 0px 3px;
    letter-spacing: 0.2px;
    margin: 0px;
}
.lknmcv_btngl1
{
    font-size: 17px;
    color: #FFF;
    font-weight: 800;
    text-align: left;
    padding: 0px 0px 0px 3px;
    letter-spacing: 1px;
    margin: -12px 0px 0px 0px;
}
.cababout_outsection
{
    margin: 80px 0px 0px 0px;
}
.abtleft_outsection
{
    position: relative;
}
.abtfstimg_design
{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.abtscndimg_design
{
    position: absolute;
    bottom: -28%;
    right: -10%;
    border: 10px solid #FFF;
}
.abtrght_outsection
{
    margin: 20px 0px 0px 50px;
}
.wdntext_design
{
    font-size: 35px;
    font-weight: 700;
    color: #000000;
    margin: 0px;
}
.wdntext_design1
{
    font-size: 20px;
    color: #000000;
    margin: 0px;
    padding: 10px 0px 0px 0px;
}
.cstxt_textdesign
{
    color: #444;
    text-align: justify;
    font-size: 14px;
    line-height: 22px;
    padding: 20px 0px 0px 0px;
}
.cstxt_textdesign1
{
    color: #444;
    text-align: justify;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 0px 18px 0px;
}
.antlstmain_area
{
    margin: 0px;
    padding: 0px;
}
.kbox_section
{
    border: none;
}
.kshldtax_imgdesign
{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.kboxcontent_section
{
    border: none
}
.khcng_txtdesign
{
    color: #000;
    font-size: 20px;
    margin: 0px;
    font-weight: 700;
    padding: 6px 0px 0px 0px;
}
.lkpterxt_design
{
    color: #444;
    margin: 0px;
    font-size: 14px;
    text-align: justify;
    padding: 7px 0px 0px 0px;
}
.drembtn_design
{
    border: none;
    outline: none;
    width: 180px;
    height: 55px;
    border-radius: 40px;
    background-color: #ff4f02;
    color: #FFF;
    margin: 30px 0px 0px 0px;
    font-weight: 600;
    line-height: 55px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.drembtn_design a
{
  color: #FFF;
  text-decoration: none;
}
.dremicn_design
{
   font-size: 20px;
   padding: 0px 0px 0px 5px;
}
.osrvc_outsection
{
    margin: 70px 0px 0px 0px;
    padding: 40px 0px 40px 0px;
    background-image: url('https://i.imgur.com/UMVMlJH.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.osrvc_outsection::before
{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1882352941);
    top: 0px;
    left: 0px;
}
.aus_textdesign1
{
    text-align: center;
    color: #FFF;
    margin: 0px;
    font-size: 30px;
    position: relative;
    padding: 0px 0px 20px 0px;
}
.bsfc_textdesign
{
    text-align: center;
    margin: 0px;
    padding: 5px 0px 0px 0px;
    font-size: 40px;
    font-weight: 600;
    color: #FFF;
    position: relative;
}
.more_serviceoutarea
{
    text-align: center;
    margin: 30px 0px 0px 0px;
    position: relative;
}
.jbtna_txtdesign
{
    text-decoration: none;
}
.mceadbtn_txetdesign
{
    color: #121212;
    text-decoration: none;
}
.msbtn_design {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 500;
    width: 210px;
    height: 50px;
    border-radius: 9999rem;
    background: #efefef;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    isolation: isolate;
    overflow: hidden;
    border: none;
    outline: none;
    margin-left: auto;
    margin-right: auto;

    & > span.text {
      color: #121212;
      width: 100%;
      text-align: left;
      padding-block: 12px;
      padding-left: 24px;
      z-index: 2;
      transition: all 200ms ease;
    }

    & > div.overlay {
      color: #ededed;
      width: 48px;
      height: calc(100% - 2px);
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding: 12px;
      border-radius: inherit;
      background: #242424;
      position: absolute;
      right: 1px;
      z-index: 1;
      transition: all 400ms ease;
    }

    &:is(:hover, :focus) {
      & > span.text {
        color: #ededed;
      }
      & > div.overlay {
        width: calc(100% - 2px);
        transition: width 200ms ease;
      }
    }
  }

// .msbtn_design
// {
//     width: 140px;
//     height: 50px;
//     border: none;
//     outline: none;
//     border-radius: 3px;
//     color: #FFF;
//     background: #5cad2f;
//     margin: 13px 10px 0px 0px;
//     line-height: 45px;
//     font-size: 14px;
// }
.srvcy_outsection
{
    margin: 50px 0px 0px 0px;
}
.srvcbox_outsection
{
    // box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 15px 15px;
    background: #FFF;
    position: relative;
    margin: 0px 15px 15px 15px;
    cursor: pointer;
}
.srvcbox_outsection1
{
    background: rgb(248, 248, 248);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 15px;
}
.srvc_imgdesign
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.circle_srvcstriucture
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: absolute;
    right: 13%;
    background: #ff4f02;
    top: 40%;
}
.srvcicon_design
{
    text-align: center;
    width: 45px !important;
    margin-left: auto;
    margin-right: auto;
    display: block !important;
    padding: 11px 0px 0px 0px;
}
.oboking_icondesign
{
    font-size: 20px;
    margin: 0px;
    padding: 35px 0px 0px 0px;
    font-weight: 500;
    line-height: 25px;
}
.obookng_textdesign
{
    text-align: justify;
    font-size: 13px;
    margin: 0px;
    padding: 10px 0px 0px 0px;
    color: #8d8d8d;
}
.rmebtnrebtn_design
{
    border: none;
    outline: none;
    width: 180px;
    height: 55px;
    border-radius: 40px;
    background-color: #ff4f02;
    color: #FFF;
    margin: 30px 0px 0px 0px;
    font-weight: 600;
    line-height: 55px;
}
.grmicon_design
{
    font-size: 20px;
    padding: 0px 0px 0px 5px;
}
.lnk_texts
{
    color: #FFF !important;
    text-decoration: none;
}
.hwitwrks_outsection
{
    margin-top: 70px;
}
.dsemtext_design
{
    text-align: center;
    margin: 0px;
    font-size: 30px;
    position: relative;
    color: #000000;
    font-weight: 700;
}
.cityname_area
{
    margin: 120px 0px 0px 0px;
}
.ctyname_textdesign
{
    font-size: 25px;
    text-align: center;
    margin: 0px;
}
.animated_cabarea
{
    margin-top: 30px;
}
.ifrmcar_design
{
    width: 100%;
    height: 100%;
}
.facilitymain_outarea
{
   background-image: url('https://i.imgur.com/CJlDaYI.jpg');
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   margin: 70px 0px 0px 0px;
   position: relative;
}
.facilitymain_outarea::before
{
    content: '';
    position: absolute;
    background-color: #00000030;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}
.faciliti_outsection
{
    margin: 70px 0px 0px 0px;
}
.tvgx_textdesign
{
    text-align: center;
    margin: 0px;
    font-size: 30px;
    position: relative;
    color: #FFF;
    font-weight: 700;
}
.faciliti_singleoutsection
{
    background: #f9f9f9;
    margin: 40px 0px 40px 0px;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    position: relative;
    cursor: pointer;
}
.faciliti_singleoutsection:hover
{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.facimg_design
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.faciliti_cntarea
{
    background-color: #000;
    position: absolute;
    bottom: 3%;
    border-radius: 0px 0px 10px 10px;
    width: 92.7%;
}
.fasbut_textdesign
{
    color: #FFF;
    font-size: 20px;
    margin: 0px;
    padding: 10px 0px 10px 15px;
}
.fsbut_ptextdesign
{
    color: #FFF;
    font-size: 13px;
    text-align: justify;
    padding: 0px 15px;
}
.ourcity_outsectionx
{
    margin: 70px 0px 0px 0px;
}
.ctesx_textdesign
{
    text-align: center;
    margin: 0px;
    font-size: 30px;
    position: relative;
    color: #000000;
    font-weight: 700;
}
.scity_outarea
{
    margin: 40px 0px 0px 0px;
    overflow: hidden;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    background-color: #FFF;
    padding: 15px 15px;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
}
.scity_outarea1
{
    background: rgb(248, 248, 248);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 15px 15px;
    border-radius: 10px;
}
.ctsimgx_design
{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.jblack_bcnkgrndarea
{
    background-color: #242526;
    position: absolute;
    bottom: 10.7%;
    border-radius: 0px 0px 10px 10px;
    width: 80%;
    -webkit-clip-path: polygon(0 0, 60% 0, 36% 100%, 0 100%);
    clip-path: polygon(0 0, 75% 0, 95% 100%, 0 100%);
}
.kwalotext_design
{
    color: #FFF;
    font-size: 18px;
    margin: 0px;
    padding: 10px 0px 10px 15px;
}
.htuapp_outsection
{
    margin: 70px 0px 0px 0px;
    background-image: url('https://i.imgur.com/0poj5lO.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
}
.sergap_outarea
{
    position: relative;
    padding: 70px 0px 40px 0px;
}
.htuapp_outsection::before
{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 72%);
}
.huappleft_outsection
{
    border: none;
}
.huappimg_outarea
{
    border: none;
}
.video-play-button
{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 62%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    width: 32px;
    height: 44px;
    /* background: #fa183d; */
    border-radius: 50%;
    padding: 18px 20px 18px 28px;
  }
  .video-play-button:before
  {
    content: "";
    position: absolute;
    z-index: 0;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #ba1f24;
    border-radius: 50%;
    -webkit-animation: pulse-border 1500ms ease-out infinite;
    animation: pulse-border 1500ms ease-out infinite;
  }
  .video-play-button:after
  {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: block;
    width: 80px;
    height: 80px;
    background: #fa183d;
    border-radius: 50%;
    transition: all 200ms;
  }
  .video-play-button:hover:after
  {
    background-color: #da0528;
  }
  .video-play-button img
  {
    position: relative;
    z-index: 3;
    max-width: 100%;
    width: auto;
    height: auto;
  }
  .video-play-button span
  {
    display: block;
    position: relative;
    z-index: 3;
    width: 0;
    height: 0;
    border-left: 32px solid #fff;
    border-top: 22px solid transparent;
    border-bottom: 22px solid transparent;
  }
  @-webkit-keyframes pulse-border
  {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
  @keyframes pulse-border
  {
    0% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
      opacity: 1;
    }
    100% {
      transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
      opacity: 0;
    }
  }
  .video-overlay
  {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transition: all ease 500ms;
  }
  .video-overlay.open
  {
    position: fixed;
    z-index: 1000;
    opacity: 1;
  }
  .video-overlay-close
  {
    position: absolute;
    z-index: 1000;
    top: 15px;
    right: 20px;
    font-size: 36px;
    line-height: 1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms;
  }
  .video-overlay-close:hover
  {
    color: #fa183d;
  }
  .video-overlay iframe
  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.75);
  }
.jtaws_imgdesign
{
    width: 100%;
    max-width: 420px;
    float: right;
}
.htuwap_textdesign
{
    color: #FFF;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    padding: 35px 0px 50px 0px;
}
.leftg_usetion
{
    border: none;
    margin: 0px 0px 40px 0px;
}
.kmblicon_design
{
    width: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.rghtc_usetion
{
    border: none;
    margin: 0px 0px 40px 0px;
}
.dtgap_text
{
    font-size: 20px;
    color: #FFF;
    font-weight: 700;
    margin: 0px;
}
.gop_textdesign
{
    font-size: 14px;
    color: #FFF;
    text-align: justify;
    margin: 0px;
    padding: 5px 0px 0px 0px;
}
.faqmain_outsection
{
    margin: 70px 0px 0px 0px;
}
.outtestimonial_outsection
{
    margin: 70px 0px 0px 0px;
}
.wock_text
{
    text-align: center;
    margin: 0px;
    font-size: 30px;
    color: #000000;
    font-weight: 700;
}
.faqsection_imgoutsection
{
    border: none;
    margin: 40px 0px 0px 0px;
}
.ksbut_imgdesign
{
    width: 100%;
    height: 100%;
}
.faqsection_contentsection
{
    margin: 50px 0px 0px 0px;
}
.faw_ulistarea
{
  margin: 0px;
  padding: 0px;
}
.faw_ulistarea li
{
    font-size: 14px;
    color: #444;
    text-decoration: none;
    list-style: none;
    padding: 0px 0px 10px 0px;
}
.faw_ulistarea li i
{
    font-size: 14px;
    color: #444;
    padding: 0px 7px 0px 0px;
}
.accordion {
    display: flex;
    flex-direction: column;
    font-family: "Sora", sans-serif;
    max-width: 991px;
    min-width: 320px;
    margin: 50px auto;
    padding: 0 50px;
}
.accordion h1 {
    text-align: center;
    color: #ff4f02;
    margin: 0px;
    font-size: 25px;
    font-weight: 700;
}
.accordion-item {
    margin-top: 16px;
    border: 1px solid #fcfcfc;
    border-radius: 6px;
    background: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
    position: relative;
    margin: 0;
    display: flex;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 14px 20px;
    box-sizing: border-box;
    align-items: center;
    color: #000;
}
.accordion-item .accordion-item-desc {
    display: none;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #444;
    border-top: 1px dashed #ddd;
    padding: 10px 20px 10px;
    box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
    position: absolute;
    height: 0;
    width: 0;
    opacity: 0;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
    display: block;
}
.accordion-item
    input[type="checkbox"]:checked
    ~ .accordion-item-title
    .icon:after {
    content: "-";
    font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
    content: "+";
    font-size: 20px;
}
.accordion-item:first-child {
    margin-top: 0;
}
.accordion-item .icon {
    margin-left: 14px;
}

@media screen and (max-width: 767px) {
    .accordion {
        padding: 0 16px;
    }
    .accordion h1 {
        font-size: 22px;
    }
}
.wock_text1
{
  color: #ff4f02;
}
.singlebox_testimnlarea
{
    margin: 50px 0px 0px 0px;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.05), inset -3px -3px 3px rgba(255, 255, 255, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.05), -3px -3px 3px rgba(255, 255, 255, 0.5);
    background-color: #FFF;
    padding: 15px 15px;
    border-radius: 10px;
    position: relative;
}
.singlebox_testimnlarea1
{
    background: rgb(248, 248, 248);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 25px 25px;
    border-radius: 10px;
}
.clnt_imgarea
{
    margin-right: 10px;
    padding: 5px;
    border-radius: 50px;
    border: 3px solid #ff4f02;
    border-top-color: transparent;
    border-bottom-color: transparent;
}
.clkntimg_design
{
    display: block;
    width: 100%;
    border-radius: 50%;
}
.clntnme_textarea
{
    border: none;
}
.clntnme_textdesign
{
    color: #000;
    font-size: 22px;
    font-weight: 700;
    padding: 20px 0px 0px 0px;
    margin: 0px;
}
.gstaricon_Design
{
    width: 62px;
}
.tstcontent_areaout
{
    margin: 15px 0px 0px 0px;
}
.phttxet_design
{
    color: #444;
    padding: 5px 0px 0px 0px;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
}
.lqte_scarea
{
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.klnc_icontext
{
    font-size: 120px;
    color: #ffb300;
    opacity: .2;
}
@media(max-width: 767px)
{
    .abtscndimg_design
    {
        width: 60%;
        right: 20%;
    }
    .wdntext_design
    {
        font-size: 25px;
    }
    .abtrght_outsection
    {
        margin: 130px 0px 0px 10px;
    }
    .cstxt_textdesign
    {
        font-size: 13px;
        line-height: 20px;
    }
    .cstxt_textdesign1
    {
        font-size: 13px;
        line-height: 20px;
    }
    .kshldtax_imgdesign
    {
        margin-left: inherit;
    }
    .bsfc_textdesign
    {
        font-size: 25px;
        line-height: 40px;
    }
    .aus_textdesign1
    {
        padding: 0px 0px 10px 0px;
    }
    .cityname_area
    {
        margin: 40px 0px 0px 0px;;
    }
    .cababout_outsection
    {
        margin: 40px 0px 0px 0px;
    }
    .oboking_icondesign
    {
        font-size: 17px;
        line-height: 25px;
    }
    .circle_srvcstriucture
    {
        top: 30%;
    }
    .htuwap_textdesign
    {
        font-size: 24px;
    }
    .jtaws_imgdesign
    {
        padding: 130px 0px 0px 0px;
    }
    .video-play-button
    {
        top: 65%;
        left: 58%;
    }
    .ctesx_textdesign
    {
        font-size: 20px;
    }
    .accordion
    {
        padding: 0 0px;
    }
    .phttxet_design
    {
        font-size: 13px;
        line-height: 20px;
    }
    .carpool_bannerarea
    {
        background-position: bottom;
    }
    .leftmobileapp_area
    {
        padding: 140px 0px 0px 0px;
    }
    .mobileapp_design
    {
        width: 50%;
    }
    .rightbanner_area
    {
        padding: 10px 0px 10px 0px;
    }
    .trghtbanner_textdesign
    {
        font-size: 21px;
        line-height: 25px;
        width: auto;
    }
    .thtbanner_describetext
    {
        font-size: 14px;
        padding: 15px 0px 10px 0px;
        line-height: 20px;
        width: auto;
    }
    .hkcvb_areasection1
    {
        width: 150px;
    }
    .googleplybtn_design
    {
        width: 22px;
    }
    .lknmcv_btngl2
    {
        font-size: 11px;
    }
    .lknmcv_btngl1
    {
        font-size: 13px;
    }
    .abtfstimg_design
    {
        width: 100%;
    }
    .abtscndimg_design
    {
        width: 80%;
        right: 10%;
    }
}

