<!-- =======================================banner area===================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 carpool_bannerarea">
            <video class="capoolvideo_design" loop="true" autoplay="autoplay" muted>
                <source src="assets/videos/cab.mp4" type="video/mp4">
            </video>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 banner_fusection">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="leftbkfrm_outarea">
                                        <h1 class="cftp_textdesign">
                                            Carpool for the Planet
                                        </h1>
                                        <h2 class="cftp_textdesign1">
                                            Join 1,000,000+ people who carpool
                                            between cities in Canada.
                                            <span class="fsutext_design">
                                                Free sign up.
                                            </span>
                                        </h2>
                                        <div class="booking_area">
                                            <div class="booking_area1">
                                                <h1 class="nratext_design">Need a ride?</h1>
                                                <h2 class="fran_textdesign">Find a ride and carpool anywhere in Canada.</h2>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="formx_outsection">
                                                            <i class="fa-solid fa-location-dot ftinlocation_icondesign"></i>
                                                            <input type="text" class="ftinputtext_design" placeholder="Form">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="formx_outsection">
                                                            <i class="fa-solid fa-location-dot ftinlocation_icondesign"></i>
                                                            <input type="text" class="ftinputtext_design" placeholder="To">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="odte_outsectionx">
                                                            <input type="date" class="ftinputtext_design1" placeholder="To">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fndbtn_area">
                                                    <div class="fndsars_btndesign">
                                                        Find a ride
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="rightbkfrm_outarea">
                                        <img src="assets/images/driver.png" class="dcharacterimg_design">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =======================================banner area===================================== -->

<!-- ======================================about area======================================= -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 jabout_twegooutsection">
             <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                        <div class="leftabout_outsection">
                             <h2 class="aus_textdesign">ABOUT US</h2>
                             <h3 class="wped_textdesign">
                                We Provide Trusted
                                <span class="bces_text">Cab Service</span>
                                In The World
                             </h3>
                             <p class="tmpr_txtdesign">
                                There are many variations of passages of Lorem Ipsum available, 
                                but the majority have suffered alteration in some form, by injected humour.
                             </p>
                             <ul class="abty_listoutsection">
                                <li>
                                  <i class="fa-solid fa-circle-check"></i>  
                                  <span>
                                    At vero eos et accusamus et iusto odio.
                                  </span>
                                </li>
                                <li>
                                  <i class="fa-solid fa-circle-check"></i>  
                                  <span>
                                    Established fact that a reader will be distracted.
                                  </span>
                                </li>
                                <li>
                                  <i class="fa-solid fa-circle-check"></i>  
                                  <span>
                                    Sed ut perspiciatis unde omnis iste natus sit.
                                  </span>
                                </li>
                             </ul>
                             <button class="drembtn_design">
                                Discover More
                                <i class="fa-solid fa-arrow-right-long dremicn_design"></i>
                             </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="rightabout_imgoutsection">
                            <img src="assets/images/02.png" class="jzximgz_design">
                        </div>
                    </div>
                  </div>
             </div>
        </div>
    </div>
</div>
<!-- ======================================about area======================================= -->

<!-- ======================================our services===================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 osrvc_outsection">
            <h2 class="aus_textdesign1">SERVICES</h2>
            <p class="bsfc_textdesign">
                Our Best Services For You
            </p>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 srvcy_outsection">
                        <owl-carousel-o [options]="customOptions">
                          <ng-template carouselSlide>
                            <div class="srvcbox_outsection">
                                <div class="srvcbox_outsection1">
                                    <img src="assets/images/01.jpg" class="srvc_imgdesign">
                                    <div class="circle_srvcstriucture">
                                        <img src="assets/images/taxi-app.png" class="srvcicon_design">
                                    </div>
                                    <h1 class="oboking_icondesign">Online Booking</h1>
                                    <p class="obookng_textdesign">
                                        There are many variations of passages orem psum available 
                                        but the majority have suffered alteration in some form by 
                                        injected.
                                    </p>
                                    <button class="rmebtnrebtn_design">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                                    </button>
                                </div>
                            </div>
                          </ng-template>  
                          <ng-template carouselSlide>
                            <div class="srvcbox_outsection">
                                <div class="srvcbox_outsection1">
                                    <img src="assets/images/02.jpg" class="srvc_imgdesign">
                                    <div class="circle_srvcstriucture">
                                        <img src="assets/images/frontal-taxi-cab.png" class="srvcicon_design">
                                    </div>
                                    <h1 class="oboking_icondesign">City Transport</h1>
                                    <p class="obookng_textdesign">
                                        There are many variations of passages orem psum available 
                                        but the majority have suffered alteration in some form by 
                                        injected.
                                    </p>
                                    <button class="rmebtnrebtn_design">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                                    </button>
                                </div>
                            </div>
                          </ng-template>
                          <ng-template carouselSlide>
                            <div class="srvcbox_outsection">
                                <div class="srvcbox_outsection1">
                                    <img src="assets/images/05.jpg" class="srvc_imgdesign">
                                    <div class="circle_srvcstriucture">
                                        <img src="assets/images/taxi.png" class="srvcicon_design">
                                    </div>
                                    <h1 class="oboking_icondesign">Regular Transport</h1>
                                    <p class="obookng_textdesign">
                                        There are many variations of passages orem psum available 
                                        but the majority have suffered alteration in some form by 
                                        injected.
                                    </p>
                                    <button class="rmebtnrebtn_design">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                                    </button>
                                </div>
                            </div>
                          </ng-template>
                          <ng-template carouselSlide>
                            <div class="srvcbox_outsection">
                                <div class="srvcbox_outsection1">
                                    <img src="assets/images/04.jpg" class="srvc_imgdesign">
                                    <div class="circle_srvcstriucture">
                                        <img src="assets/images/taxi-cab.png" class="srvcicon_design">
                                    </div>
                                    <h1 class="oboking_icondesign">Business Transport</h1>
                                    <p class="obookng_textdesign">
                                        There are many variations of passages orem psum available 
                                        but the majority have suffered alteration in some form by 
                                        injected.
                                    </p>
                                    <button class="rmebtnrebtn_design">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                                    </button>
                                </div>
                            </div>
                          </ng-template>
                          <ng-template carouselSlide>
                            <div class="srvcbox_outsection">
                                <div class="srvcbox_outsection1">
                                    <img src="assets/images/01.jpg" class="srvc_imgdesign">
                                    <div class="circle_srvcstriucture">
                                        <img src="assets/images/taxi-app.png" class="srvcicon_design">
                                    </div>
                                    <h1 class="oboking_icondesign">Online Booking</h1>
                                    <p class="obookng_textdesign">
                                        There are many variations of passages orem psum available 
                                        but the majority have suffered alteration in some form by 
                                        injected.
                                    </p>
                                    <button class="rmebtnrebtn_design">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                                    </button>
                                </div>
                            </div>
                          </ng-template>  
                          <ng-template carouselSlide>
                            <div class="srvcbox_outsection">
                                <div class="srvcbox_outsection1">
                                    <img src="assets/images/02.jpg" class="srvc_imgdesign">
                                    <div class="circle_srvcstriucture">
                                        <img src="assets/images/frontal-taxi-cab.png" class="srvcicon_design">
                                    </div>
                                    <h1 class="oboking_icondesign">City Transport</h1>
                                    <p class="obookng_textdesign">
                                        There are many variations of passages orem psum available 
                                        but the majority have suffered alteration in some form by 
                                        injected.
                                    </p>
                                    <button class="rmebtnrebtn_design">
                                        Read More
                                        <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                                    </button>
                                </div>
                            </div>
                          </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
            <img src="assets/images/facts-right.png" class="jcrclimg_design">
        </div>
    </div>
</div>
<!-- ======================================our services===================================== -->

<!-- =================================how it works area===================================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 hwitwrks_outsection">
            <h2 class="dsemtext_design">DRIVING SOMEWHERE?</h2>
            <div class="row">
                <div class="col-lg-2">
                    <div class="cityname_area">
                        <h1 class="ctyname_textdesign">City A</h1>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="animated_cabarea">
                        <iframe src="https://lottie.host/embed/19f912ee-ac49-49d7-b6dc-59127bc2dd86/kUt0OdnLh5.json" class="ifrmcar_design"></iframe>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="cityname_area">
                        <h1 class="ctyname_textdesign">City B</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================================how it works area===================================== -->

<!-- =================================trusted safety area=================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 trustsafety_outarea">
            <div class="kzarea">
                <h2 class="srevat_textdesign">
                    TRUST and SAFETY
                </h2>
                <p class="obsxz_text">
                    Poparide is designed with your safety in mind.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="fsttrt_areabox">
                                <div class="feature_icons">
                                    <img src="assets/images/taxi-safety.svg">
                                </div>
                                <h1 class="stgre_text">Safety Guarantee</h1>
                                <p class="stgrep_text">
                                    There are many variations of majority have suffered alteration in 
                                    some form injected 
                                    humour randomised words.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 mt-lg-5">
                            <div class="fsttrt_areabox">
                                <div class="feature_icons">
                                    <img src="assets/images/pickup.svg">
                                </div>
                                <h1 class="stgre_text">Fast Pickup</h1>
                                <p class="stgrep_text">
                                    There are many variations of majority have suffered alteration in 
                                    some form injected 
                                    humour randomised words.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="fsttrt_areabox">
                                <div class="feature_icons">
                                    <img src="assets/images/money.svg">
                                </div>
                                <h1 class="stgre_text">Affordable Rate</h1>
                                <p class="stgrep_text">
                                    There are many variations of majority have suffered alteration in 
                                    some form injected 
                                    humour randomised words.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 mt-lg-5">
                            <div class="fsttrt_areabox">
                                <div class="feature_icons">
                                    <img src="assets/images/support.svg">
                                </div>
                                <h1 class="stgre_text">24/7 Support</h1>
                                <p class="stgrep_text">
                                    There are many variations of majority have suffered alteration in 
                                    some form injected 
                                    humour randomised words.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =================================trusted safety area=================================== -->

<!-- =================================co2 saved area======================================== -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 sdc_outarea">
            <iframe src="https://lottie.host/embed/e6d58f5a-81d6-4b3e-b9f1-a67b216e4e4e/otoCQ9okz3.json" class="trcal_trreedesign"></iframe>
            <h2 class="cotwo_numbertext">
                Over <span class="cotwonumber_boldtext">20,000</span> metric tons<br>
                of CO2 saved since 2015
            </h2>
            <button class="rmrebtn_design">
                Read More
            </button>
        </div>
    </div>
</div>
<!-- =================================co2 saved area======================================== -->

<!-- =================================gallery section area================================== -->
<section class="designgap_areasection">
 <div class="container">
    <div class="row">
        <div class="col-lg-12 gallery_loutsectionarea">
             <h2 class="ogerytext_design">
                MEMBERS’ ADVENTURES
             </h2>
             <div class="row">
                <div class="col-lg-4">
                    <div class="jgallery_outsection">
                        <img src="assets/images/gallery1.jpg" class="jgalleryimg_design">
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="jgallery_rightoutsection">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="jgallery_kirghtoutsection">
                                    <img src="assets/images/gallery2.jpg" class="jgalleryimg_designvb">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="jgalleryimg_hdesign1">
                                    <img src="assets/images/gallery3.jpg" class="jgalleryimg_designvb">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="jgallery_kirghtoutsection dfjdwn_area">
                                    <img src="assets/images/gallery5.jpg" class="jgalleryimg_designvb">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="jgallery_kirghtoutsection2 dfjdwn_area">
                                    <img src="assets/images/gallery6.jpg" class="jgalleryimg_designvb">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
             <img src="assets/images/service-right.svg" class="hsrvc_trghtoutsection">
        </div>
    </div>
 </div>
</section>
<!-- =================================gallery section area================================== -->

<!-- =================================testimonial section area============================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 testimnalout_area">
            <div class="kzarea">
                <h2 class="srevatast_textdesign">
                    TESTIMONIALS
                </h2>
                <p class="obsxz_textjc">
                    What Our Client 
                    <span class="ksyx_text">
                       Say's
                    </span>
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 userreview_mainoutsection">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="usrrvwbox_outsection">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> 
<!-- =================================testimonial section area============================== -->