<!-- =======================================banner area===================================== -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 carpool_bannerarea">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="leftmobileapp_area">
              <img class="mobileapp_design animate__animated animate__fadeInLeft" src="assets/images/app.png">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="rightbanner_area">
              <div class="brdf_area animate__animated animate__fadeInUp">
                <div class="pulsating-circle"></div>
                <h2 class="brd_stextdesign">
                  The Perfect Ride Awaits
                </h2>
              </div>
              <h4 class="trghtbanner_textdesign animate__animated animate__fadeInUp">
                Get Where You Need to Go,
                Safely and Affordably
              </h4>
              <p class="thtbanner_describetext animate__animated animate__fadeInUp">
                Signup and book ride share Ontario to receive amazing discounts every week.
              </p>
              <div class="gapstrebtn_area animate__animated animate__fadeInUp">
                <button class="hkcvb_areasection1">
                  <a class="lnktext_design" href="#">
                    <div class="area_design1">
                      <img class="googleplybtn_design" src="assets/images/apple-store.png">
                    </div>
                    <div class="area_design2">
                      <h2 class="lknmcv_btngl2">
                        Download on the
                      </h2>
                      <h3 class="lknmcv_btngl1">
                        App Store
                      </h3>
                    </div>
                  </a>
                </button>
                <button class="hkcvb_areasection1">
                  <a class="lnktext_design" href="#">
                    <div class="area_design1">
                      <img class="googleplybtn_design" src="assets/images/google-play.png">
                    </div>
                    <div class="area_design2">
                      <h2 class="lknmcv_btngl2">
                        Get it on
                      </h2>
                      <h3 class="lknmcv_btngl1">
                        Google Play
                      </h3>
                    </div>
                  </a>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =======================================banner area===================================== -->

<!-- ===================================about us area======================================= -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="cababout_outsection">
        <div class="row">
          <div class="col-lg-5">
            <div class="abtleft_outsection">
              <img class="abtfstimg_design" src="assets/images/about1.jpg">
              <img class="abtscndimg_design" src="assets/images/about2.jpg">
            </div>
          </div>
          <div class="col-lg-7">
            <div class="abtrght_outsection">
              <h1 class="wdntext_design">
                Drive when you want, make what you need
              </h1>
              <h2 class="wdntext_design1">
                What is THEREVGO CANADA?
              </h2>
              <p class="cstxt_textdesign">
                Carpooling is a service that allows people to share a vehicle with
                other passengers to reach a common destination, usually for work or school.
                The vehicle usually belongs to one of the participants, who acts as the
                driver and shares the available seats with other passengers.
              </p>
              <p class="cstxt_textdesign1">
                Carpooling is a service that allows people to share a vehicle with
                other passengers to reach a common destination, usually for work or school.
                The vehicle usually belongs to one of the participants, who acts as the
                driver and shares the available seats with other passengers.
              </p>
              <div class="row">
                <div class="col-lg-12">
                  <div class="antlstmain_area">
                    <div class="row">
                      <div class="col-lg-2 kbox_section">
                        <img class="kshldtax_imgdesign" src="assets/images/shield.gif">
                      </div>
                      <div class="col-lg-10 kboxcontent_section">
                        <h1 class="khcng_txtdesign">
                          SAFE GUARANTEE
                        </h1>
                        <p class="lkpterxt_design">
                          Taxi safety is an important topic, especially for solo travelers.
                          If you are using a rideshare service like Uber or Lyft.
                        </p>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-lg-2 kbox_section">
                        <img class="kshldtax_imgdesign" src="assets/images/driver.gif">
                      </div>
                      <div class="col-lg-10 kboxcontent_section">
                        <h1 class="khcng_txtdesign">
                          EXPERT DRIVERS
                        </h1>
                        <p class="lkpterxt_design">
                          Taxi drivers usually work for a company or an agency,
                          or they own their own vehicle and operate independently.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button class="drembtn_design">
                <a [routerLink]="['/about-us']">
                  Discover More
                  <i class="fa-solid fa-arrow-right-long dremicn_design"></i>
                </a>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ===================================about us area======================================= -->

<!-- ======================================our services===================================== -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 osrvc_outsection">
      <h2 class="aus_textdesign1">SERVICES</h2>
      <p class="bsfc_textdesign">
        Our Best Services For You
      </p>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 srvcy_outsection">
            <owl-carousel-o [options]="customOptions">
              <ng-template *ngFor="let item of serviceList" carouselSlide>
                <div class="srvcbox_outsection">
                  <div class="srvcbox_outsection1">
                    <img class="srvc_imgdesign" onerror="this.src='assets/images/error.jpg'"
                         src='{{FILE_URL + "storage/" + item.image}}'>
                    <div class="circle_srvcstriucture">
                      <img class="srvcicon_design" onerror="this.src='assets/images/error.jpg'"
                           src='{{FILE_URL + "storage/" + item.icon}}'>
                    </div>
                    <h1 class="oboking_icondesign">{{item.heading}}</h1>
                    <p class="obookng_textdesign">
                      {{item.short_description}}
                    </p>
                    <button class="rmebtnrebtn_design">
                      <a [routerLink]="['/service-details/',item.id]" class="lnk_texts">
                        Read More
                        <i class="fa-solid fa-arrow-right-long grmicon_design"></i>
                      </a>
                    </button>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
            <div class="more_serviceoutarea">
              <button class="msbtn_design">
                <span class="text" routerLink="/services">More Services</span>
                <div class="overlay">
                  <svg class="lucide lucide-arrow-right" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                       stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12h14"/>
                    <path d="m12 5 7 7-7 7"/>
                  </svg>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ======================================our services===================================== -->

<!-- =================================how it works area===================================== -->
<div class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 hwitwrks_outsection">
      <h2 class="dsemtext_design">DRIVING SOMEWHERE?</h2>
      <div class="row">
        <div class="col-lg-2">
          <div class="cityname_area">
            <h1 class="ctyname_textdesign">City A</h1>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="animated_cabarea">
            <iframe class="ifrmcar_design"
                    src="https://lottie.host/embed/19f912ee-ac49-49d7-b6dc-59127bc2dd86/kUt0OdnLh5.json"></iframe>
          </div>
        </div>
        <div class="col-lg-2">
          <div class="cityname_area">
            <h1 class="ctyname_textdesign">City B</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================================how it works area===================================== -->

<!-- =================================facilities area======================================= -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 facilitymain_outarea">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 faciliti_outsection">
            <h1 class="tvgx_textdesign">There's an TogetherVGo ride for everyone</h1>
            <div class="row">
              <div class="col-lg-4">
                <div class="faciliti_singleoutsection">
                  <img class="facimg_design" src="assets/images/faciliti1.jpg">
                  <div class="faciliti_cntarea">
                    <h1 class="fasbut_textdesign">
                      For any budget
                    </h1>
                    <p class="fsbut_ptextdesign">
                      From Cab to Prime Sedans and Prime SUVs,
                      you will find a ride in your budget at your convenience any time.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="faciliti_singleoutsection">
                  <img class="facimg_design" src="assets/images/faciliti2.jpg">
                  <div class="faciliti_cntarea">
                    <h1 class="fasbut_textdesign">
                      For any distance
                    </h1>
                    <p class="fsbut_ptextdesign">
                      Book rides within the city with Daily, or take a trip to your
                      favourite destinations outside the city with Outstation.
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-lg-4">
                <div class="faciliti_singleoutsection">
                  <img class="facimg_design" src="assets/images/faciliti3.jpg">
                  <div class="faciliti_cntarea">
                    <h1 class="fasbut_textdesign">
                      For any duration
                    </h1>
                    <p class="fsbut_ptextdesign">
                      Easily plan a day out without having to worry about conveyance with
                      an hour-based package from Rental.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================================facilities area======================================= -->

<!-- =================================cities area=========================================== -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="ourcity_outsectionx">
        <h1 class="ctesx_textdesign">
          Cities
        </h1>
        <div class="row">
          <div *ngFor="let item of cityList.slice(0,6)" class="col-lg-4">
            <div class="scity_outarea">
              <div class="scity_outarea1">
                <img class="ctsimgx_design" loading="lazy"
                     onerror="this.src='assets/images/error.jpg'" src='{{FILE_URL + "storage/" + item.image }}'>
                <div class="jblack_bcnkgrndarea">
                  <h1 class="kwalotext_design">
                    {{item.name}}
                  </h1>
                </div>
              </div>
            </div>
          </div>
          <div class="more_serviceoutarea">
            <a class="jbtna_txtdesign" routerLink="/cities">
              <button class="msbtn_design">
                                  <span class="text">
                                        More Cities
                                  </span>
                <div class="overlay">
                  <svg class="lucide lucide-arrow-right" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                       stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                       xmlns="http://www.w3.org/2000/svg">
                    <path d="M5 12h14"/>
                    <path d="m12 5 7 7-7 7"/>
                  </svg>
                </div>
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================================cities area=========================================== -->

<!-- =================================how to use app======================================== -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 htuapp_outsection">
      <div class="container sergap_outarea">
        <div class="row">
          <div class="col-lg-6">
            <div class="huappleft_outsection">
              <h1 class="htuwap_textdesign">How To Use TogetherVGo App</h1>
              <div class="row">
                <div class="col-lg-2">
                  <div class="leftg_usetion">
                    <img class="kmblicon_design" src="assets/images/download.png">
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="rghtc_usetion">
                    <h2 class="dtgap_text">Download The App</h2>
                    <p class="gop_textdesign">
                      Download THEREVGO Canada iOS or Android app
                      and sign up to create an account
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <div class="leftg_usetion">
                    <img class="kmblicon_design" src="assets/images/taxis.png">
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="rghtc_usetion">
                    <h2 class="dtgap_text">Locate Your Ride</h2>
                    <p class="gop_textdesign">
                      You can dispatch a ride request with a single click.
                      We will notify you once your driver arrives at
                      the pickup location, sit back, and relax.
                    </p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">
                  <div class="leftg_usetion">
                    <img class="kmblicon_design" src="assets/images/direction.png">
                  </div>
                </div>
                <div class="col-lg-10">
                  <div class="rghtc_usetion">
                    <h2 class="dtgap_text">Arrive In Style</h2>
                    <p class="gop_textdesign">
                      After arriving at your destination, simply pay by
                      your credit card with a receipt being emailed to
                      you right away. Go cashless.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="huappimg_outarea">
              <a class="video-play-button" href="#" id="play-video">
                <span></span>
              </a>
              <img class="jtaws_imgdesign" src="assets/images/taxi_services_img.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================================how to use app======================================== -->

<!-- =================================Faq area============================================== -->
<div class="container">
  <div class="row">
    <div class="col-lg-12 faqmain_outsection">
      <h1 class="ctesx_textdesign">
        Frequently Asked Question
      </h1>
      <div class="row">
        <div class="col-lg-5">
          <div class="faqsection_imgoutsection">
            <img class="ksbut_imgdesign" src="assets/images/single-about1.png">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="faqsection_contentsection">
            <div class="accordion">
              <h1>FAQs for Drivers</h1>
              <div class="accordion-item">
                <input id="accordion1" type="checkbox">
                <label class="accordion-item-title" for="accordion1">
                  <span class="icon"></span>
                  What are the requirements to become a driver?
                </label>
                <div class="accordion-item-desc">
                  <ul class="faw_ulistarea">
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Be at least 19 years of age (may vary by province).
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Possess a valid Canadian driver&#39;s license.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Have a clean driving record (within a recent time frame, like the past 3 years).
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Own a vehicle that meets safety standards and has at least four seats.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Pass a criminal background check.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="accordion-item">
                <input id="accordion2" type="checkbox">
                <label class="accordion-item-title" for="accordion2">
                  <span class="icon"></span>
                  How do I sign up to be a driver?
                </label>
                <div class="accordion-item-desc">
                  <ul class="faw_ulistarea">
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Download the TogetherVgo app.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Create an account as a driver.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Provide your personal information, driver&#39;s license details, and vehicle information.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Consent to a background check.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Wait for your profile to be approved.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="accordion">
              <h1>FAQs for Riders</h1>
              <div class="accordion-item">
                <input id="accordion3" type="checkbox">
                <label class="accordion-item-title" for="accordion3">
                  <span class="icon"></span>
                  How do I find a ride?
                </label>
                <div class="accordion-item-desc">
                  <ul class="faw_ulistarea">
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Download the TogetherVgo app.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Create an account as a rider.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Search for rides by entering your starting point, destination, and desired date/time.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Filter results by price, driver rating, etc.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="accordion-item">
                <input id="accordion4" type="checkbox">
                <label class="accordion-item-title" for="accordion4">
                  <span class="icon"></span>
                  How do I book a ride?
                </label>
                <div class="accordion-item-desc">
                  <ul class="faw_ulistarea">
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Select the ride that best suits your needs.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Request a seat and wait for the driver&#39;s approval.
                    </li>
                    <li>
                      <i class="fa-solid fa-chevron-right"></i>
                      Pay securely through the app.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="more_serviceoutarea">
              <a class="jbtna_txtdesign" routerLink="/faqs">
                <button class="msbtn_design">
                                    <span class="text">
                                        More FAQs
                                    </span>
                  <div class="overlay">
                    <svg class="lucide lucide-arrow-right" fill="none" height="24" stroke="currentColor" stroke-linecap="round"
                         stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" width="24"
                         xmlns="http://www.w3.org/2000/svg">
                      <path d="M5 12h14"/>
                      <path d="m12 5 7 7-7 7"/>
                    </svg>
                  </div>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================================Faq area============================================== -->

<!-- =================================testimonial area====================================== -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="outtestimonial_outsection">
        <h1 class="wock_text">
          What Our Client
          <span class="wock_text1">Say's</span>
        </h1>
        <div class="row">
          <owl-carousel-o [options]="customOptions">
            <ng-template *ngFor="let item of testimonialList" carouselSlide>
              <div class="singlebox_testimnlarea">
                <div class="singlebox_testimnlarea1">
                  <div class="row">
                    <div class="col-4">
                      <div class="clnt_imgarea">
                        <!--                                <img src="assets/images/010.jpg" class="clkntimg_design">-->
                        <img class="clkntimg_design" src='{{FILE_URL + "storage/" + item.image}}'>
                      </div>
                    </div>
                    <div class="col-lg-8">
                      <div class="clntnme_textarea">
                        <h1 class="clntnme_textdesign">
                          {{item.name}}
                        </h1>
                        <!--                                <img src="assets/images/rating.png" class="gstaricon_Design">-->
                        <ngb-rating [(rate)]="item.star" [max]=5 [readonly]="true"></ngb-rating>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="tstcontent_areaout">
                        <p class="phttxet_design">
                          {{item.description}}
                        </p>
                        <div class="lqte_scarea">
                          <i class="fa-solid fa-quote-right klnc_icontext"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
          <!--                    <div class="col-lg-4">-->
          <!--                        <div class="singlebox_testimnlarea">-->
          <!--                            <div class="singlebox_testimnlarea1">-->
          <!--                                 <div class="row">-->
          <!--                                     <div class="col-4">-->
          <!--                                         <div class="clnt_imgarea">-->
          <!--                                            <img src="assets/images/010.jpg" class="clkntimg_design">-->
          <!--                                         </div>-->
          <!--                                     </div>-->
          <!--                                     <div class="col-lg-8">-->
          <!--                                        <div class="clntnme_textarea">-->
          <!--                                             <h1 class="clntnme_textdesign">-->
          <!--                                                Colin Jones-->
          <!--                                             </h1>-->
          <!--                                             <img src="assets/images/rating.png" class="gstaricon_Design">-->
          <!--                                        </div>-->
          <!--                                     </div>-->
          <!--                                 </div>-->
          <!--                                 <div class="row">-->
          <!--                                    <div class="col-lg-12">-->
          <!--                                        <div class="tstcontent_areaout">-->
          <!--                                            <p class="phttxet_design">-->
          <!--                                                Personally have taken RideON several times. Enough-->
          <!--                                                to know on how to navigate and look out for wait-->
          <!--                                                times/expected pick ups and drop offs from-->
          <!--                                                several locations. I admire the hard and-->
          <!--                                                friendly workers. Only can say positive things!-->
          <!--                                                I prefer over UBER! I have only been ordering-->
          <!--                                                TOGETHERBGO since December 2021.-->
          <!--                                            </p>-->
          <!--                                            <div class="lqte_scarea">-->
          <!--                                                <i class="fa-solid fa-quote-right klnc_icontext"></i>-->
          <!--                                            </div>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                 </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                    </div>-->
          <!--                    <div class="col-lg-4">-->
          <!--                        <div class="singlebox_testimnlarea">-->
          <!--                            <div class="singlebox_testimnlarea1">-->
          <!--                                 <div class="row">-->
          <!--                                     <div class="col-4">-->
          <!--                                         <div class="clnt_imgarea">-->
          <!--                                            <img src="assets/images/022.jpg" class="clkntimg_design">-->
          <!--                                         </div>-->
          <!--                                     </div>-->
          <!--                                     <div class="col-lg-8">-->
          <!--                                        <div class="clntnme_textarea">-->
          <!--                                             <h1 class="clntnme_textdesign">-->
          <!--                                                Keva-->
          <!--                                             </h1>-->
          <!--                                             <img src="assets/images/rating1.png" class="gstaricon_Design">-->
          <!--                                        </div>-->
          <!--                                     </div>-->
          <!--                                 </div>-->
          <!--                                 <div class="row">-->
          <!--                                    <div class="col-lg-12">-->
          <!--                                        <div class="tstcontent_areaout">-->
          <!--                                            <p class="phttxet_design">-->
          <!--                                                Personally have taken RideON several times. Enough-->
          <!--                                                to know on how to navigate and look out for wait-->
          <!--                                                times/expected pick ups and drop offs from-->
          <!--                                                several locations. I admire the hard and-->
          <!--                                                friendly workers. Only can say positive things!-->
          <!--                                                I prefer over UBER! I have only been ordering-->
          <!--                                                TOGETHERBGO since December 2021.-->
          <!--                                            </p>-->
          <!--                                            <div class="lqte_scarea">-->
          <!--                                                <i class="fa-solid fa-quote-right klnc_icontext"></i>-->
          <!--                                            </div>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                 </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                    </div>-->
          <!--                    <div class="col-lg-4">-->
          <!--                        <div class="singlebox_testimnlarea">-->
          <!--                            <div class="singlebox_testimnlarea1">-->
          <!--                                 <div class="row">-->
          <!--                                     <div class="col-4">-->
          <!--                                         <div class="clnt_imgarea">-->
          <!--                                            <img src="assets/images/010.jpg" class="clkntimg_design">-->
          <!--                                         </div>-->
          <!--                                     </div>-->
          <!--                                     <div class="col-lg-8">-->
          <!--                                        <div class="clntnme_textarea">-->
          <!--                                             <h1 class="clntnme_textdesign">-->
          <!--                                                Colin Jones-->
          <!--                                             </h1>-->
          <!--                                             <img src="assets/images/rating.png" class="gstaricon_Design">-->
          <!--                                        </div>-->
          <!--                                     </div>-->
          <!--                                 </div>-->
          <!--                                 <div class="row">-->
          <!--                                    <div class="col-lg-12">-->
          <!--                                        <div class="tstcontent_areaout">-->
          <!--                                            <p class="phttxet_design">-->
          <!--                                                Personally have taken RideON several times. Enough-->
          <!--                                                to know on how to navigate and look out for wait-->
          <!--                                                times/expected pick ups and drop offs from-->
          <!--                                                several locations. I admire the hard and-->
          <!--                                                friendly workers. Only can say positive things!-->
          <!--                                                I prefer over UBER! I have only been ordering-->
          <!--                                                TOGETHERBGO since December 2021.-->
          <!--                                            </p>-->
          <!--                                            <div class="lqte_scarea">-->
          <!--                                                <i class="fa-solid fa-quote-right klnc_icontext"></i>-->
          <!--                                            </div>-->
          <!--                                        </div>-->
          <!--                                    </div>-->
          <!--                                 </div>-->
          <!--                            </div>-->
          <!--                        </div>-->
          <!--                    </div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =================================testimonial area====================================== -->
