<!-- =======================================banner area===================================== -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 carpool_bannerarea">
            <video class="capoolvideo_design" loop="true" autoplay="autoplay" muted>
                <source src="assets/videos/cab.mp4" type="video/mp4">
            </video>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 banner_fusection">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="leftbkfrm_outarea">
                                        <h1 class="cftp_textdesign">
                                            Carpool for the Planet
                                        </h1>
                                        <h2 class="cftp_textdesign1">
                                            Join 1,000,000+ people who carpool
                                            between cities in Canada.
                                            <span class="fsutext_design">
                                                Free sign up.
                                            </span>
                                        </h2>
                                        <div class="booking_area">
                                            <div class="booking_area1">
                                                <h1 class="nratext_design">Need a ride?</h1>
                                                <h2 class="fran_textdesign">Find a ride and carpool anywhere in Canada.</h2>
                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="formx_outsection">
                                                            <i class="fa-solid fa-location-dot ftinlocation_icondesign"></i>
                                                            <input type="text" class="ftinputtext_design" placeholder="Form">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6">
                                                        <div class="formx_outsection">
                                                            <i class="fa-solid fa-location-dot ftinlocation_icondesign"></i>
                                                            <input type="text" class="ftinputtext_design" placeholder="To">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="odte_outsectionx">
                                                            <input type="date" class="ftinputtext_design1" placeholder="To">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="fndbtn_area">
                                                    <div class="fndsars_btndesign">
                                                        Find a ride
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="rightbkfrm_outarea">
                                        <img src="assets/images/driver.png" class="dcharacterimg_design">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =======================================banner area===================================== -->

<!-- ======================================about area======================================= -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 jabout_twegooutsection">
             <div class="container">
                  <div class="row">
                    <div class="col-lg-6">
                        <div class="leftabout_outsection">
                             <h2 class="aus_textdesign">ABOUT US</h2>
                             <h3 class="wped_textdesign">
                                We Provide Trusted
                                <span class="bces_text">Cab Service</span>
                                In The World
                             </h3>
                             <p class="tmpr_txtdesign">
                                There are many variations of passages of Lorem Ipsum available, 
                                but the majority have suffered alteration in some form, by injected humour.
                             </p>
                             <ul class="abty_listoutsection">
                                <li>
                                  <i class="fa-solid fa-circle-check"></i>  
                                  <span>
                                    At vero eos et accusamus et iusto odio.
                                  </span>
                                </li>
                                <li>
                                  <i class="fa-solid fa-circle-check"></i>  
                                  <span>
                                    Established fact that a reader will be distracted.
                                  </span>
                                </li>
                                <li>
                                  <i class="fa-solid fa-circle-check"></i>  
                                  <span>
                                    Sed ut perspiciatis unde omnis iste natus sit.
                                  </span>
                                </li>
                             </ul>
                             <button class="drembtn_design">
                                Discover More
                                <i class="fa-solid fa-arrow-right-long dremicn_design"></i>
                             </button>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="rightabout_imgoutsection">
                            <img src="assets/images/01.png" class="jzximgz_design">
                        </div>
                    </div>
                  </div>
             </div>
        </div>
    </div>
</div>
<!-- ======================================about area======================================= -->

