<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 footer_mainoutsection">
             <div class="container">
                <div class="row">
                    <div class="col-lg-12 tgtv_section">
                        <div class="row">
                            <div class="col-lg-4">
                                 <div class="lbox_outsection">
                                      <img src="assets/images/togetherwego-app.png" class="footer_logodesign">
                                      <p class="ftrfst_textdesign">
                                        Carpooling is a service that allows people to share a
                                        vehicle with other passengers to reach a common destination,
                                        usually for work or school. The vehicle usually belongs
                                        to one of the participants, who acts as the driver and
                                        shares the available seats with other passengers.
                                      </p>
                                 </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="lbox_outsection1">
                                    <h2 class="ulinkstext_design1">
                                        Usefull Links
                                    </h2>
                                    <ul class="ufrst_area">
                                        <li>
                                            <a [routerLink]="['/how-it-works']">
                                                <mat-icon class="cicon_design">arrow_right_alt</mat-icon>
                                                How it works
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/faqs']">
                                                <mat-icon class="cicon_design">arrow_right_alt</mat-icon>
                                                FAQ’s
                                            </a>
                                        </li>
                                        <li>
                                            <a [routerLink]="['/contact-us']">
                                                <mat-icon class="cicon_design">arrow_right_alt</mat-icon>
                                                Contact Us
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-2">
                                <div class="lbox_outsection1">
                                    <h2 class="ulinkstext_design1">
                                        Legal
                                    </h2>
                                    <ul class="ufrst_area">
                                        <li>
                                            <a href="#">
                                                <mat-icon class="cicon_design">arrow_right_alt</mat-icon>
                                                Privacy Policy
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <mat-icon class="cicon_design">arrow_right_alt</mat-icon>
                                                Terms & Conditions
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div class="lbox_outsection2">
                                    <h2 class="ulinkstext_design">
                                        Contact Details
                                    </h2>
                                    <!-- <div class="row">
                                        <h2 class="ftrpner_textdesign">PHONE NUMBER</h2>
                                        <div class="row jgap_fgarea">
                                            <div class="col-1 social_leftsection">
                                                <mat-icon class="mdrn_sqrc">call</mat-icon>
                                            </div>
                                            <div class="col-11 social_rghttextsection">
                                                <a href="tel:+91 0000000000" class="jnmbr_textdesign">
                                                    0000000000
                                                </a>
                                            </div>
                                        </div>
                                    </div> -->
                                    <div class="row">
                                        <h2 class="ftrpner_textdesign">EMAIL ADDRESS</h2>
                                        <div class="row jgap_fgarea">
                                            <div class="col-1 social_leftsection">
                                                <mat-icon class="mdrn_sqrc"> email</mat-icon>
                                            </div>
                                            <div class="col-11 social_rghttextsection">
                                                <a href="mailto:togethervgo@gmail.com" class="jnmbr_textdesign">
                                                    togethervgo&#64;gmail.com
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <h2 class="ftrpner_textdesign">OFFICE LOCATION</h2>
                                        <div class="row jgap_fgarea">
                                            <div class="col-1 social_leftsection">
                                                <mat-icon class="mdrn_sqrc"> add_location</mat-icon>
                                            </div>
                                            <div class="col-11 social_rghttextsection">
                                                <p class="adrstext_design">
                                                    Ontario, Canada
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 cpyrgt_poutarea">
            <h2 class="fgtr_text">
                 © Copyright THEREVGO 2024. Designed And Developed By
                <a href="#" target="_blank" class="kcmpnynme_text">
                 DITS
                </a>
            </h2>
        </div>
    </div>
 </div>
